<apex:component >
<table style="width:125%">
<tr>
  <td width="20%"><a href="#"> Home </a></td>
  <td width="20%"><a href="/LCBS_AllBuildings"> Buildings </a></td>
  <td width="20%"><a href="#"> Reports </a></td>
  <td width="20%"><a href="/LCBS_MyCompanyProfile"> Company </a></td>
</tr>
</table>
</apex:component>