<apex:component controller="LCBS_BuildingAccessReqController" access="global">
<apex:attribute name="BuildingId" description="Building Id" type="Id" assignTo="{!BuldId}"/>
 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
   <Style type="text/css">
 .logo {
    /* background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png'); */

    background: url('https://cbplcbs01qagbldevlcbsweb.cloudapp.net/Content/img/logo.png'); 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250rem; /*20px;*/
    margin-right: 1.250rem; /*20px;*/
}
       
       
    .lcbs-mail-box{
        
        
    }
    .lcbs-mail-header{
        font-size: 14px;
        clear: both;
        display: inline-block;
    }
    .lcbs-mail-header > .logo{
        float: left;
        display: block;
        height: 20px;
        line-height: 50px;
        width: 100px;
        margin-right: 20px;
        /* vertical-align: middle; */
        background-size: 100px 20px;
        margin-top: 3px;
    }
    .lcbs-mail-header > .pipe{
        float: left;
        display: block;
        height: 45px;
        border-left: solid 1px #e1e1e1;
        /* margin-top: 13px; */
        width: 1px;
    }
    .lcbs-mail-header > h1.title{
        float: left;
        display: inline-block;
        height: 0;
        /* line-height: 50px; */
        margin-left: 20px;
        font-size: 16px;
        color: #A0A0A0;
        font-weight: normal;
        margin-top: 3px;
    }
    .lcbs-second-header{
        margin-bottom: 25px;
        margin-bottom: 25px;
        font-size: 7px;
    }
    
    .lcbs-second-header > table td{
        padding:6px;
    }
    .lcbs-second-header > table td.pad-left-0{
        padding-left:0px;
    }
    .lcbs-second-header > table td.initial{
        color: initial;
    }
    .lcbs-mail-body{
        padding-top:25px;
        border-top: 2px solid #e1e1e1
    }
    .lcbs-mail-body > h1.mail-body-header{
        font-size:14px;
        margin-bottom:20px;
    }
    .lcbs-mail-body > .mail-body-content{
        
    }
    #img-logo{
        width:100px;
    }
    
    
  
  </Style>
  <style>
      table{
          mso-table-lspace:0pt;
          mso-table-rspace:0pt;
      }
      img{
        -ms-interpolation-mode:bicubic;
      }
  </style>
  <html>
  <body>
  <form>
  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="20" style='font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;'>
          <tbody>
              <tr>
                  <td>
                      <table align="center" width="65%" height="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#e1e1e1" style="max-width:625px;min-width:625px;">
                          <tbody>
                              <tr>
                                  <td valign="top" align="center">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                          <tbody>
                                              <tr>
                                                  <td height="43">
                                                      <table width="100%" border="0" cellspacing="12" cellpadding="0" style="padding-left:28px;padding-right:28px;">
                                                          <tbody>
                                                              <tr>
                                                                  <td align="left" valign="top" style="color: #848484;font-weight: 600;">
                                                                      <!-- <img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.ImageServer?id=015g0000001BLG2&oid=00Dg0000003Nq6j&lastMod=1451459111000"/> -->
                                                                      <!--<img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.FileDownload?file=015g0000001Baonoid=00Dg0000003Nq6j&lastMod=1451459111000" />-->
                                                                      <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!logo.id}&oid={!orgid}" style="vertical-align: middle;"/>
                                                                      <!-- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#848484">LCBS Connect</font> -->
                                                                  </td>
                                                              </tr>
                                                              
                                                              <tr>
                                                                  <td>
                                                                      <table cellpadding="0" cellspacing="0" style='color: #707070;font-size:12px;padding-bottom: 17px;border-bottom: 2px solid #e1e1e1;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' width="100%">
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">From:</font></td>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;">{!con.Account.Email__c}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">TO:</font></td><td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;">{!build.Building_Owner__r.email_address__c}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">Date:</font></td><td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif' color="#707070" style="font-size:12px;">{!d}</font></td>
                                                                            </tr>
                                                                      </table>
                                                                  </td>
                                                              </tr>
                                                              
                                                             
                                                              
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'>{!build.Building_Owner__r.Name}</font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'> Thank you for your recent investment in the Honeywell LCBS Connect solution by my company {!con.Account.Name}, {!con.Name}.  </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'> The LCBS Connect solution empowers us, as your HVAC service provider, to remotely monitor, manage, and control your HVAC equipment.  We are able to gain timely insight into the operation of your equipment and predict and prevent HVAC system problems.   It will help us keep you warm in the winter and cool in the summer!</font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'> As the building owner, you own data collected by the LCBS Connect system.  We’re asking your permission to use it to create anonymous reports that may be interesting to you and other building owners.  The key word to you is “anonymous.” Any data that we collect will not be directly attributed to you and your building.  </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                               <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                      <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'>  If you have any questions, please call me {!con.Name}, {!con.Phone}.   </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif'>Please select the “Let’s Get Started” to review the agreement and complete the agreement acceptance process.</font></td>
                                                                </tr> 
                                                            <!--  <tr><td align="left">
                                                                    <table cellpadding="0" cellspacing="0" style="font-size:14px;margin-bottom:5px;" width="100%">
                                                                        <tr>
                                                                            <td align="left" style="padding-bottom:17px;text-align:left;">
                                                                                <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!sign.id}&oid={!orgid}" width="135px" height="50px"/>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="padding-bottom:17px;text-align:left;">
                                                                                Larry Weber
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left">
                                                                               <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'> Vice President and General Manager </font>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="padding-bottom:17px;"><font face='"Helvetica Neue",Helvetica,Arial,sans-serif'>Honeywell</font></td>
                                                                        </tr>
                                                                    </table>
                                                                    </td>
                                                               </tr> -->
                                                               
                                                              <tr>
                                                                    <td align="left" style="padding-bottom:25px;border-bottom: 2px solid #e1e1e1;">
                                                                        <table cellpadding="15" cellspacing="0" style="font-size:14px;" bgcolor="#1483cd" >
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'>  <a href="{!siteurl}?Id={!BuldId}" style="text-decoration: none;color: #fff;" >Let's Get Started! </a> </font>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr> 
                                                                
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom: 5px;">
                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size:12px;color:#707070;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                       <font face='"Helvetica Neue",Helvetica,Arial,sans-serif'> &copy; 2016 Honeywell International Inc </font>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>                            
                                                              
                                                              
                                                         </tbody>
                                                      </table>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>     
     
      <br/><br/>

</form>
</body>
</html>
</apex:component>