<apex:page sidebar="false" showChat="false" showHeader="false" standardStylesheets="false" controller="LCBS_CompanyInfo_Controller">

<apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
<script>
    var flagDisableBeforeUnload = true;       
    window.onbeforeunload = function() {
        if(!flagDisableBeforeUnload) return "Leaving this page will lose your changes. Are you sure?";
    }
    
    j$ = jQuery.noConflict();
    j$(document).on('change', '.form-control', function(e){
        flagDisableBeforeUnload = false;
    });
    j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
    });
</script>
<style>

    body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton {background:#00ADFF !important }
    button.secondary{background:#A1A1A1 !important;}
    .contentMar{margin-top:86px}
      @media (max-width: 23.438rem ) { /*375px*/
    .contentMar{
    margin-top: 50px;
    }
    .TxtMar{
    margin-top: 26px;margin-bottom:20px
    }
    .table-responsive .TblMar{
    margin-bottom:12px !important
    }
    }
    @media (max-width: 48.000rem ) { /*375px*/
    .contentMar{
    margin-top: 50px;
    }
    .TxtMar{
    margin-top: 26px;margin-bottom:20px
    }
    .table-responsive .TblMar{
    margin-bottom:12px !important
    }
    }
    @media (min-width: 62.000rem ) { /*375px*/
    .contentMar{
    margin-top: 86px;
    }
    .TxtMar{
    margin-top: 56px;
    }
    }
    .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

    responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td{white-space:normal !

    important;padding:10px 0 10px 20px;vertical-align:middle}
    @media (min-width: 768px) {
     .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

    responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
            font-family: "HelveticaLight";
            font-size: 14pt
        }
    }
    @media (max-width: 375px ) {
    .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

    responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
            font-family: "HelveticaLight";
            font-size: 20pt;
        }
    }
    .modal {
        position:   fixed;
        z-index:    12000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('/img/loading.gif') 
                    50% 50% 
                    no-repeat;  
    }

    .notificationTimeBlock{
        font-size: 14px;
    }

    @media (max-width: 991px){
        .notificationTimeBlock{
            float: none !important;
        }
        
        .custom-nav-pills>li{
            float: none;
           }
    }

    .margin-clear{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .formLabels{
        font-size: 14px;
        font-weight: bold;
        
    }

    .marginTop-10{
        margin-top: 10px;
    }

    .marginTop-20{
        margin-top: 20px;
    }
    .tab-pane{
        margin-bottom: 20px;
    }
    .editLink{
        font-weight: normal;
        text-decoration: underline;
    }

    .btn-light-grey{
       background: #EFEFEF !important;
    }

    .btnControls{
       border-radius: 2px;
    }

    .custom-nav-pills{
        padding: 0em; 
        background: transparent; 
        border-width: 0px; 
    }

    .custom-nav-pills li{
        position: static; 
        margin: 0px; 
        /*border-bottom: 1px solid #327e04 !important; */
        -moz-border-radius: 0px; 
        -webkit-border-radius: 0px; 
        border-radius: 0px;
        border: 1px solid rgb(140, 140, 140);
    }
    .custom-nav-pills > li + li{
        margin-left: 0px;
    }

    input.secondary{
        border-radius: 0px !important;
    }

    .custom-nav-pills li > a{
        float: left;
        padding: .5em 1em;
        text-decoration: none;
        width: 260px;
        text-align: center;
        /* border: 1px solid #ddd !important; */
        border-radius: 0px !important;
        font-family: GothamMedium !important;
        font-size: 14px;
        font-stretch: normal;
        letter-spacing: 1.008px;
        line-height: 20px;
        text-transform: uppercase;
        color: rgb(51, 51, 51) !important;
    }
    .custom-nav-pills > li.active > a{
        background-color: rgb(212, 212, 212);
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        color: rgb(51, 51, 51);
    }
    .custom-nav-pills > li.active > a:hover, .custom-nav-pills > li.active > a:focus{
        background-color: #e6e6e6 !important;
        color: rgb(51, 51, 51);
    }

    .custom-nav-pills li:first-child, .custom-nav-pills li:first-child > a{
        -moz-border-radius: 4px 0px 0px 4px; 
        -webkit-border-radius: 4px 0px 0px 4px; 
        border-radius: 4px 0px 0px 4px;
    }
    .custom-nav-pills li:last-child, .custom-nav-pills li:last-child > a { 
        -moz-border-radius: 0px 4px 4px 0px !important; 
        -webkit-border-radius: 0px 4px 4px 0px !important; 
        border-radius: 0px 4px 4px 0px !important;
    }

    /*
    .custom-nav-pills{ 
        background-color: #EFEFEF; */
        /* border-top: 1px solid #00ADFF; */
        /* border-bottom: 1px solid #00ADFF; */
       /* border-radius: 4px;
    }*/

    /* .custom-pills-text{
        background-color: #00ADFF;
        color: #000;
    } 
    .custom-nav-pills>li>a {
        color: #000;
        background-color: #efefef;
        }

    .custom-nav-pills>li.active>a, .custom-nav-pills>li.active>a:hover, .custom-nav-pills>li.active>a:focus {
        color: #fff;
        background-color: #00ADFF;
        }
     */   
     .marginTop-10{
         margin-top: 10px;
     }
     
     .tabContent{
         font-size: 14px;
     }
     
     .userDisplayBlock > table > tbody > tr:last-child{
             border-bottom: 1px solid #ddd;
     }

     /* 
        Max width before this PARTICULAR table gets nasty
        This query will take effect for any screen smaller than 760px
        and also iPads specifically.
        */
        @media 
        only screen and (max-width: 768px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {
        
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr { 
                display: block; 
            }
            
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            
            tr { border: 1px solid #ccc; }
            
            td { 
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 50% !important; 
            }
            
            td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
            }

            
            /*
            Label the data

           */
                        
            td:nth-of-type(1):before { content: "Name"; }
            td:nth-of-type(2):before { content: "Phone"; }
            td:nth-of-type(3):before { content: "Email"; }
            td:nth-of-type(4):before { content: "Action"; }
                        
            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
              word-wrap: break-word;          
            }
            
            .badge{
                white-space: pre-wrap;
            }
        }
        

        
        /* Smartphones (portrait and landscape) ----------- */
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px) {
            body { 
                padding: 0; 
                margin: 0; 
                width: 320px; }
            }
        
        /* iPads (portrait and landscape) ----------- */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            body { 
                width: 495px; 
            }
        }
        
        /* Desktop */
        /* max-width: 18.750rem; */
        @media (min-width: 64.001rem){
            select.form-control{
                max-width: 18.750rem !important;
            }
        }
        @media (max-width: 48.000rem) {
            input.form-control{
                max-width: 100% !important;   
            }
            select.form-control{
                max-width: 100% !important;
            }
        }
        @media (max-width: 30.000rem) {
            input.form-control{
                max-width: 100% !important;   
            }
            select.form-control{
                max-width: 100% !important;
            }
        }
        .select-state select{
            display: block;
            width: 69%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;                
        }
        
        
        .widget-box{
            background: none repeat scroll 0 0 #fafafa;
            border: 1px solid #CDCDCD;
            clear: both;
            margin-top: 16px;
            margin-bottom: 16px;
            position: relative;
            box-shadow: none;
            border-radius: 0;
            margin-left: 2%;
            margin-right: 2%;
        }
        .widget-title{
            border-bottom: 1px solid #CDCDCD;
            height: 36px;
            -webkit-box-shadow: 0 1px 0 #ffffff inset;
            box-shadow: 0 1px 0 #ffffff inset;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            
            background-image: none;
            background-color: #fafafa;
            border-bottom-color: #d9d9d9;        
        }
        .widget-box .widget-title .nav-tabs{
            border-bottom: none;
        }
        .widget-box .widget-title .nav-tabs li{
            margin-bottom: 0;
        }
        .widget-box .widget-title .nav-tabs li a{
            border-bottom: medium none!important;
            border-left: 1px solid #DDDDDD;
            border-radius: 0;
            border-right: 1px solid #DDDDDD;
            border-top: medium none;
            color: #999999;
            margin: 0;
            outline: medium none;
            padding: 9px 10px 8px;
            font-weight: bold;
            text-shadow: 0 1px 0 #FFFFFF;
            text-transform: uppercase;
            width: 150px;
            text-align: center;
        }
        .widget-box .widget-title .nav-tabs li.active a, .widget-box .widget-title .nav-tabs li.active a:hover, .widget-box .widget-title .nav-tabs li.active a:focus{
            background-color: #fff!important;
            color: #444444;
            border-top: 0;
            height: 36px;
        }
        .widget-box .widget-title .nav-tabs li:first-child a{
            border-left: medium none!important;
            border-top-left-radius: 5px;
        }
        .widget-content{
            background-color: #fff;
        }
        .widget-content.tab-content{
            border-top: none;
            margin: 0;
            padding: 0;
        }
        .tab-content{
            border-top: none;
            margin: 0;
            padding: 0;
        }
        
        
.dropdown-menu > li > a{
    border-left: none;
    border-right: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    border-left: none;
}

.btn-custom{
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border-radius: 0px !important;
    border: 1px solid transparent !important;
    text-decoration: none !important;
    background: #00ADFF !important;
    color: #fff !important;
}
.btn-custom:hover{
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) !important;
    -ms-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) !important;
    -o-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) !important;
    color: #fff !important;
}
.action-link{
    background: none !important;
    color: #00ADFF !important;
    border: none !important;
    margin-right: 15px !important;
    text-transform: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
}
.action-link:hover{
    text-decoration: underline;
}

</style>
    <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
    <script>
            j$ = jQuery.noConflict();
            
            j$(document).on('change', '#tab_select', function(e){
                console.log(this);
                
                localStorage.setItem("tabName", j$(this).val());
                activeTab();
            });
            
            j$(document).on('click', '[data-toggle="pill"]', function(){
                  flagDisableBeforeUnload = true;
                  document.getElementById("dispError").style.display= "none";
                  localStorage.setItem("tabName", j$(this).attr('aria-controls'));
                  j$('#tab_select').val(j$(this).attr('aria-controls'));
                  
                  if(j$(this).attr('aria-controls') == "users"){
                      j$('.addUserButton').show();
                  }else{
                      j$('.addUserButton').hide();
                  }
            });
            
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
              
              activeTab();
              
              
              // TODO -- for other tabs
              //var tabAct= location.hash
              //tabAct= tabAct.slice(1);
              //if(tabAct == "users"){
              //j$('a[href="#users"]').tab('show');
              //}
              // if(tabAct == "info")j$('a[href="#users"]').tab('show');
                             
               j$('.edit-company-information').on('click', function(e){
              
                   j$('.informationDisplayBlock').hide();
                   j$('.informationEditBlock').show();
                   j$('.informationEditButton').hide();
               });

               
               j$('.add-user-information').on('click', function(){
                   
                   
                   j$('.userDisplayBlock').hide();
                   j$('.userEditBlock').hide();
                   j$('.addUserButton').hide();
                   j$('.userAddBlock').show();
               });

              j$('.edit-user-information').on('click', function(){
               
              
                   j$('.userDisplayBlock').hide();
                   j$('.userAddBlock').hide();
                   j$('.addUserButton').hide();
                   j$('.userEditBlock').show();
               });
              
              j$('.expand-action-box').on('click', function(){
              
              
               
                   j$('.action-button-box').hide();
                   j$('.action-box').show();
                   
                   j$('.add-office-location-btn').on('click', function(){
                   //alert('test');
                       j$('.locationAddBlock').show();
                   });
                   
               });
             j$('.collapse-action-box').on('click', function(){
                   
                   j$('.action-button-box').show();
                   j$('.action-box').hide();
                   
               });
               
                j$('.first-field').focus();
               
              j$('.edit-company-information').on('click', function(){
                   j$('.informationDisplayBlock').hide();
                   j$('.informationEditBlock').show();
               }); 
                 
            });
            
              function showUserTabVal()
            {
            console.log(this);
            //var objName = document.getElementById("RoleId");
           // alert("Previous Value: " + objName);
                
                
                
               var RoleId = null;    
                RoleId = j$('[id$=RoleId]').val();
                prevId = j$('[id$=RoleId]').data('value');
                
                if(prevId == 'Occupant' && RoleId != 'Occupant'){
                    alert('Transition not allowed, Please select the correct role.');
                    return false;
                }
                
                if(RoleId == 'Occupant' && prevId != 'Occupant'){
                  alert('Transition not allowed, Please select the correct role.');
                  return false;
                }else{
                    updateUser();
                   // location.reload();
                    j$('.userDisplayBlock').show();
                    j$('.userEditBlock').hide();
                    j$('.addUserButton').show();
                    j$('.userAddBlock').hide();
                }
               
            }
            
            function activeTab(){
                var tabValue = localStorage.getItem("tabName");
                j$('#tab_select').val(tabValue);
                j$('a[href="#'+tabValue+'"]').tab('show');
                if(tabValue == "users"){
                    j$('.addUserButton').show();
                }else{
                    j$('.addUserButton').hide();
                }
            }
           
            
            function showUserTab()
            {
               
                j$('.userDisplayBlock').show();
                j$('.userEditBlock').hide();
                j$('.addUserButton').show();
                j$('.userAddBlock').hide();
               
            }
            
            function showUserTab1()
            {
                j$('.userDisplayBlock').show();
                
            }                        
            function editUserTab()
            {
               j$('a[href="#users"]').tab('show');
               j$('.userDisplayBlock').hide();
               j$('.userAddBlock').hide();
               j$('.addUserButton').hide();
               j$('.userEditBlock').show();                     
            }                    
            function editUserTab1()
            {
            
            
                   j$('a[href="#users"]').tab('show');
            }
            
            
            function CallJS(data){
                paraFunction(data);
            }
            function BlockUI() { 
                        $('.modal').show();
            }
                    
            function unBlockUI() { 
                        $('.modal').hide();
            }
                    
            function closeCompanyLocation()
            {
             j$('.locationAddBlock').hide();
            }
            
            function tabActive(selectorClass){
            
                j$('.'+selectorClass).show();
                j$('.informationDisplayBlock').hide();
            }
            
             
        </script>
        
        
           <script>
           function clearErrors()
            {
            document.getElementById("dispError").style.display= "none";
            jQuery('[id$=FirstName]').css("borderColor", "");
            jQuery('[id$=FirstName]').css("borderStyle", "");
            jQuery('[id$=FirstName]').css("backgroundColor","");
            jQuery('[id$=LastName]').css("borderColor", "");
            jQuery('[id$=LastName]').css("borderStyle", "");
            jQuery('[id$=LastName]').css("backgroundColor","");
            jQuery('[id$=Email]').css("borderColor", "");
            jQuery('[id$=Email]').css("borderStyle", "");
            jQuery('[id$=Email]').css("backgroundColor","");                           
            jQuery('[id$=PhoneNumber]').css("borderColor", "");
            jQuery('[id$=PhoneNumber]').css("borderStyle", "");
            jQuery('[id$=PhoneNumber]').css("backgroundColor",""); 
            jQuery('[id$=PhnValidation]').text("");
            jQuery('[id$=Emalvalidation]').text("");  
            jQuery('[id$=FNameValidation]').css("color","");
            jQuery('[id$=FNameValidation]').text("");
            jQuery('[id$=LNameValidation]').css("color","");
            jQuery('[id$=LNameValidation]').text("");   
            jQuery('[id$=EPhnValidation]').text("");
            jQuery('[id$=EEmalvalidation]').text("");  
            jQuery('[id$=EFNameValidation]').css("color","");
            jQuery('[id$=EFNameValidation]').text("");
            jQuery('[id$=ELNameValidation]').css("color","");
            jQuery('[id$=ELNameValidation]').text("");                   
            }
            function userValidation1()
            {
                
                clearErrors();
                var ErrorMsg = '';
                var a1 = jQuery('[id$=EPhoneNumber]').val();
                var phoneNum1 = a1.replace(/[^\d]/g, '');
                var email1 = jQuery('[id$=EEmail]').val();
                email1 = email1.toString().trim();
                var us1 = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
                var ca1 = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
                var re1 = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
                if(jQuery('[id$=AEFirstName]').val()=='')
                {
                jQuery('[id$=AEFirstName]').css("borderColor", "red");
                jQuery('[id$=AEFirstName]').css("borderStyle", "solid");
                jQuery('[id$=AEFirstName]').css("backgroundColor","");
                jQuery('[id$=AEFNameValidation]').css("color","red");
                jQuery('[id$=AEFNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'First Name, ';
                }
                if(jQuery('[id$=AELastName]').val()=='')
                {
                jQuery('[id$=AELastName]').css("borderColor", "red");
                jQuery('[id$=AELastName]').css("borderStyle", "solid");
                jQuery('[id$=AELastName]').css("backgroundColor","");
                jQuery('[id$=AELNameValidation]').css("color","red");
                jQuery('[id$=AELNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Last Name, ';
                }    
                if(jQuery('[id$=EEmail]').val()=='')
                {
                jQuery('[id$=EEmail]').css("borderColor", "red");
                jQuery('[id$=EEmail]').css("borderStyle", "solid");
                jQuery('[id$=EEmail]').css("backgroundColor","");
                jQuery('[id$=EEmalvalidation]').css("color","red");
                jQuery('[id$=EEmalvalidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Email, ';
                }       

                if(jQuery('[id$=EPhoneNumber]').val()=='') 
                {
                jQuery('[id$=EPhoneNumber]').css("borderColor", "red");
                jQuery('[id$=EPhoneNumber]').css("borderStyle", "solid");
                jQuery('[id$=EPhoneNumber]').css("backgroundColor","");
                jQuery('[id$=EPhnValidation]').css("color","red");
                jQuery('[id$=EPhnValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Phone Number, ';
                }
                if((jQuery('[id$=EPhoneNumber]').val() !='')&&(phoneNum1.length < 6 || phoneNum1.length > 11))
                {
                jQuery('[id$=EPhnValidation]').css("color","red");
                jQuery('[id$=EPhnValidation]').text("Not a valid phone number");
                jQuery('[id$=EPhoneNumber]').css("borderColor", "red");
                jQuery('[id$=EPhoneNumber]').css("borderStyle", "solid");
                jQuery('[id$=EPhoneNumber]').css("backgroundColor","");
                ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
                }
                if (!re1.test(jQuery('[id$=EEmail]').val()) && ( jQuery('[id$=EEmail]').val() != ''))
                {
                jQuery('[id$=EEmalvalidation]').css("color","red");
                jQuery('[id$=EEmalvalidation]').text("Not a valid email address");
                jQuery('[id$=EEmail]').css("borderColor", "red");
                jQuery('[id$=EEmail]').css("borderStyle", "solid");
                jQuery('[id$=EEmail]').css("backgroundColor","");
                ErrorMsg = ErrorMsg +' Please enter a valid Email';
                }
                ErrorMsg = ErrorMsg+".";
                ErrorMsg = ErrorMsg.replace(", .",".");
                
                ErrorMsg = ErrorMsg.trim();       
                if(ErrorMsg == '.')
                {
                 
                 document.getElementById("dispError").style.display= "none";
                 addUsers();
                }
                if(ErrorMsg != '.')
                {
                  
                  document.getElementById("dispError").style.display= "block";
                  return false;
                }
            }
            function userValidation()
            {
             clearErrors();
                var ErrorMsg = '';
                var a = jQuery('[id$=PhoneNumber]').val();
                var phoneNum = a.replace(/[^\d]/g, '');
                var email = jQuery('[id$=Email]').val();
                email = email.toString().trim();
                var us = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
                var ca = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
                var re = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
                if(jQuery('[id$=AFirstName]').val()=='')
                {
                jQuery('[id$=AFirstName]').css("borderColor", "red");
                jQuery('[id$=AFirstName]').css("borderStyle", "solid");
                jQuery('[id$=AFirstName]').css("backgroundColor","");
                jQuery('[id$=AFNameValidation]').css("color","red");
                jQuery('[id$=AFNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'First Name, ';
                }
                if(jQuery('[id$=ALastName]').val()=='')
                {
                jQuery('[id$=ALastName]').css("borderColor", "red");
                jQuery('[id$=ALastName]').css("borderStyle", "solid");
                jQuery('[id$=ALastName]').css("backgroundColor","");
                jQuery('[id$=ALNameValidation]').css("color","red");
                jQuery('[id$=ALNameValidation]').text("Required");
                
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Last Name, ';
                }    
                if(jQuery('[id$=Email]').val()=='')
                {
                jQuery('[id$=Email]').css("borderColor", "red");
                jQuery('[id$=Email]').css("borderStyle", "solid");
                jQuery('[id$=Email]').css("backgroundColor","");
                jQuery('[id$=Emalvalidation]').css("color","red");
                jQuery('[id$=Emalvalidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Email, ';
                }       

                if(jQuery('[id$=PhoneNumber]').val()=='') 
                {
                jQuery('[id$=PhoneNumber]').css("borderColor", "red");
                jQuery('[id$=PhoneNumber]').css("borderStyle", "solid");
                jQuery('[id$=PhoneNumber]').css("backgroundColor","");
                jQuery('[id$=PhnValidation]').css("color","red");
                jQuery('[id$=PhnValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Phone Number, ';
                }
                if((jQuery('[id$=PhoneNumber]').val() !='')&&(phoneNum.length < 6 || phoneNum.length > 11))
                {
                jQuery('[id$=PhnValidation]').css("color","red");
                jQuery('[id$=PhnValidation]').text("Not a valid phone number");
                jQuery('[id$=PhoneNumber]').css("borderColor", "red");
                jQuery('[id$=PhoneNumber]').css("borderStyle", "solid");
                jQuery('[id$=PhoneNumber]').css("backgroundColor","");
                ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
                }
                if (!re.test(jQuery('[id$=Email]').val()) && ( jQuery('[id$=Email]').val() != ''))
                {
                jQuery('[id$=Emalvalidation]').css("color","red");
                jQuery('[id$=Emalvalidation]').text("Please enter a Valid Email");
                jQuery('[id$=Email]').css("borderColor", "red");
                jQuery('[id$=Email]').css("borderStyle", "solid");
                jQuery('[id$=Email]').css("backgroundColor","");
                ErrorMsg = ErrorMsg +'Not a valid email address';
                }
                ErrorMsg = ErrorMsg+".";
                ErrorMsg = ErrorMsg.replace(", .",".");
                
                ErrorMsg = ErrorMsg.trim();       
                if(ErrorMsg == '.')
                {
                 
                 document.getElementById("dispError").style.display= "none";
                 addUsers(); 
                }
                if(ErrorMsg != '.')
                {
                 
                  document.getElementById("dispError").style.display= "block";
                  return false;
                }
            }                          
                     
        </script>  
             <style>
.text-label{
    font-size:11px;
    color: #A8A8A8;
    text-transform: uppercase;
}
.text-value{
    color: #696969;
    font-size: 14px;
    font-weight: 600;
}
.details-box{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-link{
    font-size: 16px;
    color: #696969;
    cursor: pointer;
}
.user-edit-link{
    cursor: pointer;
    font-weight: 900;
}
.badge{
   background-color: #C7C7C7;
   font-size: 11px;
}
.text-name{
    font-size: 14px;
    color: #505050;
    font-weight: 600;
}
.table td{
    vertical-align: middle !important;
}
.content-head{
    margin-left: 1%;
    font-size: 17px;
}
body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton {background:#00ADFF !important }
button.secondary{background:#A1A1A1 !important;}
.contentMar{margin-top:86px}
  @media (max-width: 23.438rem ) { /*375px*/
.contentMar{
margin-top: 50px;
}
.TxtMar{
margin-top: 26px;margin-bottom:20px
}
.table-responsive .TblMar{
margin-bottom:12px !important
}
}
@media (max-width: 48.000rem ) { /*375px*/
.contentMar{
margin-top: 50px;
}
.TxtMar{
margin-top: 26px;margin-bottom:20px
}
.table-responsive .TblMar{
margin-bottom:12px !important
}
}
@media (min-width: 62.000rem ) { /*375px*/
.contentMar{
margin-top: 114px;
}
.TxtMar{
margin-top: 56px;
}
}
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td{white-space:normal !

important;padding:10px 0 10px 20px;vertical-align:middle}
@media (min-width: 768px) {
 .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
        font-family: "HelveticaLight";
        font-size: 14pt
    }
}
@media (max-width: 375px ) {
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-

responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td .dataText {
        font-family: "HelveticaLight";
        font-size: 20pt;
    }
}
.modal {
    position:   fixed;
    z-index:    12000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/loading.gif') 
                50% 50% 
                no-repeat;  
}

.notificationTimeBlock{
    font-size: 14px;
}

@media (max-width: 991px){
    .notificationTimeBlock{
        float: none !important;
    }
    
    .custom-nav-pills>li{
        float: none;
       }
}

.margin-clear{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.formLabels{
    font-size: 14px;
    font-weight: bold;
    
}

.marginTop-10{
    margin-top: 10px;
}

.marginTop-20{
    margin-top: 20px;
}
.tab-pane{
    margin-bottom: 20px;
}
.editLink{
    font-weight: normal;
    text-decoration: underline;
}

.btn-light-grey{
   background: #EFEFEF !important;
}

.btnControls{
   border-radius: 2px;
}

.custom-nav-pills{
    padding: 0em; 
    background: transparent; 
    border-width: 0px; 
}

.custom-nav-pills li{
    position: static; 
    margin: 0px; 
    /*border-bottom: 1px solid #327e04 !important; */
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 1px solid rgb(140, 140, 140);
}
.custom-nav-pills > li + li{
    margin-left: 0px;
}

input.secondary{
    border-radius: 0px !important;
}

.custom-nav-pills li > a{
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    width: 260px;
    text-align: center;
    /* border: 1px solid #ddd !important; */
    border-radius: 0px !important;
    font-family: GothamMedium !important;
    font-size: 14px;
    font-stretch: normal;
    letter-spacing: 1.008px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgb(51, 51, 51) !important;
}
.custom-nav-pills > li.active > a{
    background-color: rgb(212, 212, 212);
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    color: rgb(51, 51, 51);
}
.custom-nav-pills > li.active > a:hover, .custom-nav-pills > li.active > a:focus{
    background-color: #e6e6e6 !important;
    color: rgb(51, 51, 51);
}

.custom-nav-pills li:first-child, .custom-nav-pills li:first-child > a{
    -moz-border-radius: 4px 0px 0px 4px; 
    -webkit-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px;
}
.custom-nav-pills li:last-child, .custom-nav-pills li:last-child > a { 
    -moz-border-radius: 0px 4px 4px 0px !important; 
    -webkit-border-radius: 0px 4px 4px 0px !important; 
    border-radius: 0px 4px 4px 0px !important;
}

/*
.custom-nav-pills{ 
    background-color: #EFEFEF; */
    /* border-top: 1px solid #00ADFF; */
    /* border-bottom: 1px solid #00ADFF; */
   /* border-radius: 4px;
}*/

/* .custom-pills-text{
    background-color: #00ADFF;
    color: #000;
} 
.custom-nav-pills>li>a {
    color: #000;
    background-color: #efefef;
    }

.custom-nav-pills>li.active>a, .custom-nav-pills>li.active>a:hover, .custom-nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #00ADFF;
    }
 */   
 .marginTop-10{
     margin-top: 10px;
 }
 
 .tabContent{
     font-size: 14px;
 }
 
 .userDisplayBlock > table > tbody > tr:last-child{
         border-bottom: 1px solid #ddd;
 }

 /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media 
    only screen and (max-width: 768px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50% !important; 
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
        
        /*
        Label the data

        td:nth-of-type(1):before { content: "Last Name"; }
        td:nth-of-type(2):before { content: "First Name"; }
        td:nth-of-type(3):before { content: "Role"; }
        td:nth-of-type(4):before { content: "Company Location"; }
        td:nth-of-type(5):before { content: "Phone"; }
        td:nth-of-type(6):before { content: "Email"; }
        td:nth-of-type(7):before { content: "Action"; }
        */        
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Phone"; }
        td:nth-of-type(3):before { content: "Email"; }
        td:nth-of-type(4):before { content: "Action"; }
    }
    
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        body { 
            padding: 0; 
            margin: 0; 
            width: 320px; }
        }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body { 
            width: 495px; 
        }
    }
    @media (max-width: 767px){
        .header-row {
            min-height: 4.125rem !important;
        }
    }   
    /* Desktop */
    /* max-width: 18.750rem; */
    @media (min-width: 64.001rem){
        select.form-control{
            max-width: 18.750rem !important;
        }
    }
    @media (max-width: 48.000rem) {
        input.form-control{
            max-width: 100% !important;   
        }
        select.form-control{
            max-width: 100% !important;
        }
    }
    @media (max-width: 30.000rem) {
        input.form-control{
            max-width: 100% !important;   
        }
        select.form-control{
            max-width: 100% !important;
        }
    }
    .select-state select{
        display: block;
        width: 69%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;                
    }
    
    
    .widget-box{
        background: none repeat scroll 0 0 #fafafa;
        border: 1px solid #CDCDCD;
        clear: both;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        margin-left: 2%;
        margin-right: 2%;
    }
    .widget-title{
        border-bottom: 1px solid #CDCDCD;
        height: 36px;
        -webkit-box-shadow: 0 1px 0 #ffffff inset;
        box-shadow: 0 1px 0 #ffffff inset;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        
        background-image: none;
        background-color: #fafafa;
        border-bottom-color: #d9d9d9;        
    }
    .widget-box .widget-title .nav-tabs{
        border-bottom: none;
    }
    .widget-box .widget-title .nav-tabs li{
        margin-bottom: 0;
    }
    .widget-box .widget-title .nav-tabs li a{
        border-bottom: medium none!important;
        border-left: 1px solid #DDDDDD;
        border-radius: 0;
        border-right: 1px solid #DDDDDD;
        border-top: medium none;
        color: #999999;
        margin: 0;
        outline: medium none;
        padding: 9px 10px 8px;
        font-weight: bold;
        text-shadow: 0 1px 0 #FFFFFF;
        text-transform: uppercase;
        width: 150px;
        text-align: center;
    }
    .widget-box .widget-title .nav-tabs li.active a, .widget-box .widget-title .nav-tabs li.active a:hover, .widget-box .widget-title .nav-tabs li.active a:focus{
        background-color: #fff!important;
        color: #444444;
        border-top: 0;
        height: 36px;
    }
    .widget-box .widget-title .nav-tabs li:first-child a{
        border-left: medium none!important;
        border-top-left-radius: 5px;
    }
    .widget-content{
        background-color: #fff;
    }
        </style>    
  <apex:form id="form" >
   <html>
    <!--  <apex:stylesheet value="{!URLFOR($Resource.LCBS_LatestUX, 'bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_LatestUX, 'honeywell.lcbs.css')}"/> -->
    
    
    <apex:stylesheet value="{!PAGE_CSS}"/>
    <!-- <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" /> -->
    <!--<apex:stylesheet value="{!URLFOR('https://az771491.vo.msecnd.net/content/honeywell.lcbs.css')}"/>-->
    <!--<apex:stylesheet value="{!PAGE_CSS}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}"/> -->
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
        
        
        <body>
        
         <div class="background">
            <div class="container ng-scope" ng-controller="AlertController as vm">            
            </div>
            <div id="header">
                <c:LCBSDistributorHeader_new />
     <br/>
            </div>
      
      <apex:pageMessages />
            
        <!--
        <div class = "modal" style = "display:none;">  
            <p  style="position: fixed; padding-top: 25%;font-weight: bold;color: black;padding-left: 46%;font-size: 16px;" id="msgBlock"><b>Please Wait...</b></p>
        </div>
            <c:LCBSDistributorHeader_new />
        -->
        
        <div class="contentMar clearfix">
            <!-- col-md-9 After conetbntMar -->
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
            <!--  <apex:pageMessages /> -->
            <div class="row margin-clear" style="padding-top: 15px">
            
                <div class="col-md-12 col-sm-12 col-xs-12">
                   <!-- <apex:outputLabel escape="true"  id="error"  value="" style="border:2px;border-color:red;color:red;background:#FFFFCC;font-size:15px;height:17%;"/> -->
                   <div id="dispError" class="Error" style="display:none;border:2px;color:red;font-size:15px;height:20%;padding:5px;width:100%;background:#F2F2F2;border:2px solid red;">
                        <table>
                        <tr>
                            <td><apex:image url="{!URLFOR($Resource.LCBS_Error, 'error/error.jpg')}" height="30px" width="30px" style="margin-left:2%;"/> </td>
                            <td><apex:outputLabel escape="true"   id="error" value="Please correct the errors below." style="border:2px;color:red;font-size:15px;height:20%;width:100%;padding-top:-25%;padding-bottom:6%;margin-left:8%;margin-right:2%;"/></td>
                        </tr>
                        </table>
                    </div>
                    <div class="contentTitle">Company</div>
                    <select class="visible-xs-inline form-control" id="tab_select">
                        <option value="info">INFORMATION</option>
                        <option value="users">USERS</option>
                    </select>
                </div>
            </div>

            
            <div class="clearfix">
                <!-- Widget Box -->
                <div class="widget-box " style="padding:0px;">
                <!-- Widget Title -->
                <div class="widget-title hidden-xs">
                    <!--<p class="messageText">Notification Preferences</p>-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="pill" class="custom-pills-text">Information</a></li>
                        <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="pill" class="custom-pills-text">Users</a></li>
                    </ul>
                </div>
                <!-- /.Widget Title -->
                
                <!-- Widget-content -->
                <div class="tab-content widget-content">
                
                    <!-- #info -->
                    <div role="tabpanel" class="tab-pane tabContent active" id="info">
                        <div class="row margin-clear">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                            
                            <!-- TODO -->
                            <div class="clearfix">
                                <div class="informationEditButton">
                                <apex:outputPanel >
                                    <span class="pull-right glyphicon glyphicon-pencil edit-link edit-company-information" aria-hidden="true"></span>
                                </apex:outputPanel>
                                </div>
                            </div>
                            
                            <!-- Info -->
                            <div class="row margin-clear clearfix">
                                <!-- informationDisplayBlock -->
                                <div class="informationDisplayBlock">
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Name:</div>
                                        <div class="text-value">{!acct.Name}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Owner:</div>
                                        <div class="text-value">{!Cont.FirstName} {!Cont.LastName}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Phone:</div>
                                        <div class="text-value" >{!acct.phone}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Email:</div>
                                        <div class="text-value" >{!acct.Email__c}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Address:</div>
                                        <div class="text-value" >{!acct.Address__c} </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box" >
                                        <div class="text-label">Country:</div>
                                        <div class="text-value">{!acct.Country__c}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">Postal Code:</div>
                                        <div class="text-value" >{!acct.Zip__c}</div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 details-box">
                                        <div class="text-label">City:</div>
                                        <div class="text-value">{!acct.City__c}</div>
                                    </div>                            
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 details-box">
                                        <div class="text-label">State/Province/Region:</div>
                                        <div class="text-value">{!acct.State__c}</div>
                                    </div>
                                </div>
                                <!-- /.informationDisplayBlock -->
                                <script>
                function IclearErrors()
                    {
                    document.getElementById("dispError").style.display= "none";
                      jQuery('[id$=Iemail]').css("borderColor", "");
                      jQuery('[id$=Iemail]').css("borderStyle", "");
                      jQuery('[id$=Iemail]').css("backgroundColor","");
                  
                      jQuery('[id$=Iemailvalidation]').css("color","");
                      jQuery('[id$=Iemailvalidation]').text("");
                 
                      jQuery('[id$=IphoneNumber]').css("borderColor", "");
                      jQuery('[id$=IphoneNumber]').css("borderStyle", "");
                      jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                      jQuery('[id$=Iphone]').css("color","");
                      jQuery('[id$=Iphone]').text("");
                      jQuery('[id$=Ipostal]').css("color","");
                      jQuery('[id$=Ipostal]').text("");
                      jQuery('[id$=IpostalCode]').css("borderColor", "");
                      jQuery('[id$=IpostalCode]').css("borderStyle", "");
                      jQuery('[id$=IpostalCode]').css("backgroundColor","");
                      jQuery('[id$=Iemail]').css("borderColor", "");
                      jQuery('[id$=Iemail]').css("borderStyle", "");
                      jQuery('[id$=Iemail]').css("backgroundColor","");
                      jQuery('[id$=Iemailvalidation]').css("color","");
                      jQuery('[id$=Iemailvalidation]').text("");
                      jQuery('[id$=name]').css("borderColor", "");
                      jQuery('[id$=name]').css("borderStyle", "");
                      jQuery('[id$=name]').css("backgroundColor","");
                      jQuery('[id$=IAddr]').css("borderColor", "");
                      jQuery('[id$=IAddr]').css("borderStyle", "");
                      jQuery('[id$=IAddr]').css("backgroundColor","");
                      jQuery('[id$=IpostalCode]').css("borderColor", "");
                      jQuery('[id$=IpostalCode]').css("borderStyle", "");
                      jQuery('[id$=IpostalCode]').css("backgroundColor","");
                      jQuery('[id$=ICity]').css("borderColor", "");
                      jQuery('[id$=ICity]').css("borderStyle", "");
                      jQuery('[id$=ICity]').css("backgroundColor","");
                      jQuery('[id$=IFirstName]').css("borderColor", "");
                      jQuery('[id$=IFirstName]').css("borderStyle", "");
                      jQuery('[id$=IFirstName]').css("backgroundColor","");
                      jQuery('[id$=ILastName]').css("borderColor", "");
                      jQuery('[id$=ILastName]').css("borderStyle", "");
                      jQuery('[id$=ILastName]').css("backgroundColor","");
                      
                      jQuery('[id$=Iemail]').css("borderColor", "");
                      jQuery('[id$=Iemail]').css("borderStyle", "");
                      jQuery('[id$=Iemail]').css("backgroundColor","");   
                      jQuery('[id$=IphoneNumber]').css("borderColor", "");
                      jQuery('[id$=IphoneNumber]').css("borderStyle", "");
                      jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                    
                      jQuery('[id$=Ipostal]').text("");
                      jQuery('[id$=Iemailvalidation]').css("color","");
                      jQuery('[id$=Iemailvalidation]').text("");
                      jQuery('[id$=Iemail]').css("borderColor", "");
                      jQuery('[id$=Iemail]').css("borderStyle", "");
                      jQuery('[id$=Iemail]').css("backgroundColor","");
                      jQuery('[id$=INameValidation]').css("color","");
                      jQuery('[id$=INameValidation]').text("");
                      jQuery('[id$=IAddrValidation]').css("color","");
                      jQuery('[id$=IAddrValidation]').text("");
                      jQuery('[id$=ICityValidation]').css("color","");
                      jQuery('[id$=ICityValidation]').text("");
                      jQuery('[id$=IFNValid]').css("color","");
                      jQuery('[id$=IFNValid]').text("");
                      
                   
                      jQuery('[id$=Istate]').css("borderColor", "");
                      jQuery('[id$=Istate]').css("borderStyle", "");
                      jQuery('[id$=Istate]').css("backgroundColor","");
                      jQuery('[id$=IstateValidation]').css("color","");
                      jQuery('[id$=IstateValidation]').text("");           
                    }
                    function informationValidation()
                    {
                     
                      IclearErrors();
                      var ErrorMsg1 = '';
                      var ErrorMsg11 = '';
                      var ErrorMsg21= '';
                      var ErrorMsg31 = '';
                      var ErrorMsg41 = '';
                      
                      var a1 = jQuery('[id$=IphoneNumber]').val();
                      var phoneNum1 = a1.replace(/[^\d]/g, '');
                      var zipCode1 = jQuery('[id$=IpostalCode]').val();
                      zipCode1 = zipCode1.toString().trim();
                      var email1 = jQuery('[id$=Iemail]').val();
                      email1 = email1.toString().trim();
                      var us12 = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
                      var ca12 = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
                      var re1 = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
                      
                      if(jQuery('[id$=name]').val()=='')
                      {
                          jQuery('[id$=name]').css("borderColor", "red");
                          jQuery('[id$=name]').css("borderStyle", "solid");
                          jQuery('[id$=name]').css("backgroundColor","");
                          jQuery('[id$=INameValidation]').css("color","red");
                          jQuery('[id$=INameValidation]').text("Required");
                          if(ErrorMsg1 == '')
                          {
                           ErrorMsg1 ='Please enter ';
                          }
                          ErrorMsg1 =ErrorMsg1 + 'Building Name, ';
                      }
                      
                      if(jQuery('[id$=IAddr]').val()=='')
                      {
                          jQuery('[id$=IAddr]').css("borderColor", "red");
                          jQuery('[id$=IAddr]').css("borderStyle", "solid");
                          jQuery('[id$=IAddr]').css("backgroundColor","");
                          jQuery('[id$=IAddrValidation]').css("color","red");
                          jQuery('[id$=IAddrValidation]').text("Required");
                          if(ErrorMsg1 == '')
                          {
                           ErrorMsg1 ='Please enter ';
                          }
                          ErrorMsg1 =ErrorMsg1 + 'Building Address, ';
                      } 
                      
                        if(jQuery('[id$=Istate]').val()=='')
                      {
                          jQuery('[id$=Istate]').css("borderColor", "red");
                          jQuery('[id$=Istate]').css("borderStyle", "solid");
                          jQuery('[id$=Istate]').css("backgroundColor","");
                          jQuery('[id$=IstateValidation]').css("color","red");
                          jQuery('[id$=IstateValidation]').text("Required");
                          if(ErrorMsg1 == '')
                          {
                           ErrorMsg1 ='Please enter ';
                          }
                          ErrorMsg1 =ErrorMsg1 + 'State, ';
                      }   
                      
                      if(jQuery('[id$=IpostalCode]').val()=='')
                      {
                          jQuery('[id$=IpostalCode]').css("borderColor", "red");
                          jQuery('[id$=IpostalCode]').css("borderStyle", "solid");
                          jQuery('[id$=IpostalCode]').css("backgroundColor","");
                          jQuery('[id$=Ipostal]').css("color","red");
                          jQuery('[id$=Ipostal]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }
                            ErrorMsg1 =ErrorMsg1 + 'Postal code, ';
                      }
                      
                      
                      if(jQuery('[id$=IFirstName]').val()=='') 
                      {
                          jQuery('[id$=IFirstName]').css("borderColor", "red");
                          jQuery('[id$=IFirstName]').css("borderStyle", "solid");
                          jQuery('[id$=IFirstName]').css("backgroundColor","");
                          jQuery('[id$=IFNValid]').css("color","red");
                          jQuery('[id$=IFNValid]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }
                          ErrorMsg1 =ErrorMsg1 + 'First Name, ';
                      }
                     
                      
                      if(jQuery('[id$=ILastName]').val()=='') 
                      {
                          jQuery('[id$=ILastName]').css("borderColor", "red");
                          jQuery('[id$=ILastName]').css("borderStyle", "solid");
                          jQuery('[id$=ILastName]').css("backgroundColor","");
                          jQuery('[id$=IFNValid]').css("color","red");
                          jQuery('[id$=IFNValid]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }
                          ErrorMsg1 =ErrorMsg1 + 'Last Name, ';
                      }
                     if(jQuery('[id$=ICity]').val()=='')
                      {
                          jQuery('[id$=ICity]').css("borderColor", "red");
                          jQuery('[id$=ICity]').css("borderStyle", "solid");
                          jQuery('[id$=ICity]').css("backgroundColor","");
                          jQuery('[id$=ICityValidation]').css("color","red");
                          jQuery('[id$=ICityValidation]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }
                          ErrorMsg1 =ErrorMsg1 + 'City, ';
                          
                      }
                   
                      if(jQuery('[id$=Iemail]').val()=='')
                      {
                          jQuery('[id$=Iemail]').css("borderColor", "red");
                          jQuery('[id$=Iemail]').css("borderStyle", "solid");
                          jQuery('[id$=Iemail]').css("backgroundColor","");
                          jQuery('[id$=Iemailvalidation]').css("color","red");
                          jQuery('[id$=Iemailvalidation]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }     
                          ErrorMsg1 =ErrorMsg1 + 'Email, ';
                      }
                      
                      if(jQuery('[id$=IphoneNumber]').val()=='') 
                      {
                          jQuery('[id$=IphoneNumber]').css("borderColor", "red");
                          jQuery('[id$=IphoneNumber]').css("borderStyle", "solid");
                          jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                          jQuery('[id$=Iphone]').css("color","red");
                          jQuery('[id$=Iphone]').text("Required");
                          if(ErrorMsg1 == '')
                              {
                               ErrorMsg1 ='Please enter ';
                              }
                          ErrorMsg1 =ErrorMsg1 + 'Phone Number, ';
                          
                      }
                  
                     
                      if((jQuery('[id$=IphoneNumber]').val() !='') && (phoneNum1.length < 6 || phoneNum1.length > 11))
                      {
                          jQuery('[id$=Iphone]').css("color","red");
                          jQuery('[id$=Iphone]').text("Not a valid phone number");
                          jQuery('[id$=IphoneNumber]').css("borderColor", "red");
                          jQuery('[id$=IphoneNumber]').css("borderStyle", "solid");
                          jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                           ErrorMsg21 = 'Please enter a Valid Phone Number';
                              
                      }
                      
                      if((jQuery('[id$=Icountry]').val()=='USA')&&( jQuery('[id$=IpostalCode]').val()!= '')&&((!us12.test(zipCode1.toString()))))
                      {
                          jQuery('[id$=Ipostal]').css("color","red");
                          jQuery('[id$=Ipostal]').text("Not a valid Postal/ZIP Code");
                          jQuery('[id$=IpostalCode]').css("borderColor", "red");
                          jQuery('[id$=IpostalCode]').css("borderStyle", "solid");
                          jQuery('[id$=IpostalCode]').css("backgroundColor","");
                          ErrorMsg41 = 'Please enter a Valid Postal Code';
                              
                      }
                      
                      if((jQuery('[id$=Icountry]').val()=='Canada')&&( jQuery('[id$=IpostalCode]').val()!= '')&&((!ca12.test(zipCode1.toString()))))
                      {
                      
                          jQuery('[id$=Ipostal]').css("color","red");
                          jQuery('[id$=Ipostal]').text("Not a valid Postal/ZIP Code");
                          jQuery('[id$=IpostalCode]').css("borderColor", "red");
                          jQuery('[id$=IpostalCode]').css("borderStyle", "solid");
                          jQuery('[id$=IpostalCode]').css("backgroundColor","");
                          ErrorMsg31 ='Please enter a Valid Postal Code';
                              
                      }
                      
                      if (!re1.test(jQuery('[id$=Iemail]').val())&&( jQuery('[id$=Iemail]').val() != ''))
                      {
                       jQuery('[id$=Iemailvalidation]').css("color","red");
                       jQuery('[id$=Iemailvalidation]').text("Not a valid email address");
                       jQuery('[id$=Iemail]').css("borderColor", "red");
                       jQuery('[id$=Iemail]').css("borderStyle", "solid");
                       jQuery('[id$=Iemail]').css("backgroundColor","");
                       ErrorMsg11 = 'Please enter a Valid Email';
                              
                      }
                      
                     ErrorMsg1 = ErrorMsg1+".";
                      
                      ErrorMsg1 = ErrorMsg1.replace(", .",".");
                        
                      
                      ErrorMsg1 = ErrorMsg1.trim();       
                        
                       
                      if(ErrorMsg1 == '.' && ErrorMsg11 =='' && ErrorMsg21 =='' && ErrorMsg31 =='' && ErrorMsg41 =='')
                      {
                       
                       document.getElementById("dispError").style.display= "none";
                       companyUpdate();
                      }
                      
                      if(ErrorMsg1 != '.' || ErrorMsg11 != '' || ErrorMsg21 != '' || ErrorMsg31 != ''|| ErrorMsg41 != '')
                      {
                        
                         document.getElementById("dispError").style.display= "block";
                         return false;    
                      }
                      
                   }
                 
            </script>
                                <!-- informationEditBlock -->
                                <div class="col-md-8 col-sm-9 col-xs-12 informationEditBlock" style="padding-top: 20px; display: none;">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Name: </div>                                       
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputfield id="name" styleclass="form-control" value="{!acct.Name}" html-autofocus="true" /> <apex:outputLabel id="INameValidation" value=" " style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row marginTop-10">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Owner:</div>                              
                                        <!-- <div class="col-md-9 col-sm-9 col-xs-9"><apex:inputField styleclass="form-control" value="{!Cont.FirstName}"/> <apex:inputField styleclass="form-control" value="{!Cont.LastName}"/></div> -->
                                     <div class="col-md-9 col-sm-9 col-xs-9"><apex:inputText id="IFirstName" styleclass="form-control" value="{!Cont.FirstName}"/> <apex:inputText id="ILastName" styleclass="form-control" value="{!Cont.LastName}"/> <apex:outputLabel id="IFNValid" value="" style="margin-left:2%;font-size:12px;"/></div> 
                                    </div>
                                    <div class="row marginTop-10">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Phone:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:inputField id="IphoneNumber" styleclass="form-control" value="{!acct.phone}" /><apex:outputLabel id="Iphone" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row marginTop-10">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Email:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:inputField id="Iemail" styleclass="form-control" value="{!acct.Email__c}" /><apex:outputLabel id="Iemailvalidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Address: </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputField styleclass="form-control" id="IAddr" style="resize: none;" value="{!acct.Address__c}"/><apex:outputLabel id="IAddrValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Country:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputField styleclass="form-control form-custom-input" id="Icountry" value="{!acct.Country__c}" /></div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Postal Code:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputField id="IpostalCode" styleclass="form-control form-custom-input" value="{!acct.Zip__c}"/><apex:outputLabel id="Ipostal" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">City:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputField styleclass="form-control form-custom-input" id="ICity" value="{!acct.City__c}"/><apex:outputLabel id="ICityValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    <div class="row select-state" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">State/Province/Region:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:outputField id="Istate" styleclass="form-control form-custom-input" value="{!acct.State__c}"/><apex:outputLabel id="IstateValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                    </div>
                                    
                                  <!--  <div class="row marginTop-10">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Time Zone:</div>
                                        <div class="col-md-9 col-sm-9 col-xs-9"><apex:inputField styleclass="form-control form-custom-input" value="{!acct.Time_Zone__c}"/></div>
                                    </div> -->
                                     <!--    <apex:inputFile value="{!Filebody}" filename="{!Filename}" id="file"/>  -->
                                    <!--<div class="row" style="margin-top: 15px;">
                                        <div class="col-md-3 col-sm-3 col-xs-3 largeLabelText">Logo</div>
                                    </div>
                                    <div class="row marginTop-10">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                        <input type="file" name="file" />                                
                                        </div>
                                    </div> -->
                                    <div class="row marginTop-10 text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                        
                                            <apex:commandButton value="Cancel" action="{!cancelCompany}" immediate="true" styleClass="action-link" />
                                            <apex:actionFunction action="{!updateCompany}" name="companyUpdate" reRender="form"/>
                                            <apex:commandButton value="Save" onclick="return informationValidation();" styleClass="btn-custom"/>
                                            
                                            <!-- <apex:commandButton value="Save" action="{!updateCompany}" style="width: 120px;" styleClass="primary" reRender="form"/>
                                            <apex:commandButton value="Cancel" action="{!cancelCompany}" style="width: 120px !important; background-color: #A1A1A1 !important;" immediate="true" styleClass="secondary"/> -->
                                            <!-- <button type="button" class="btn btn-default" style="width: 100px;">Save</button>
                                            <button type="button" class="btn" style="width: 100px; background: #EFEFEF !important;">Cancel</button> -->
                                        
                                        </div>
                                    </div>
                                    <br/><br/>
                                </div>
                                <!-- /.informationEditBlock -->
                            </div>
                            
                        </div>
                        </div>
                    </div>
                    <!-- /#info -->
                   
                    <!-- #users -->
                                            

                    <div role="tabpanel" class="tab-pane" id="users">
                        <div class="row margin-clear">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                             <div class="row margin-clear">
                              
                              <apex:outputPanel id="tableRen">
                                 <!-- Users Table -->
                                 <div class="col-md-12 col-sm-12 col-xs-12 userDisplayBlock" style="padding-top: 20px;">
                                
                                 <apex:actionFunction name="getContactinfo" action="{!getContactInfo}" reRender="users" />
                                <apex:selectList id="selectSortBy" size="1" value="{!selectedField}" styleClass="dropDownMenu" style="margin-left:10px;">
                                    <apex:actionSupport action="{!sortMethod}" reRender="tableRen" event="onchange"/>
                                    <apex:selectOptions value="{!SortOptions}" />                       
                        </apex:selectList>
                      
                                    <table class="table">
                                    <thead>
                                    <tr class="smallLabelText" style="font-size:11px">
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <apex:outputPanel rendered="{!EditPanel}">
                                        <th></th>
                                        </apex:outputPanel>
                                    </tr>
                                    </thead>
                                    <tbody class="bodyText" style="font-size:12px">
                                    <apex:repeat value="{!con}" id="contacts" var="c"> 
                                    <tr>
                                        <td class="text-name">{!c.FirstName}&nbsp;{!c.LastName}<br/><span class="badge">{!c.Role__c}</span></td>
                                        <td><a href="#">{!c.Phone}</a></td>
                                        <td style="word-wrap: break-word;"> <apex:outputField value="{!c.Email}"/> </td>
                                        <td>
                                        <apex:outputPanel >
                                            <apex:commandLink Styleclass="primary" value="" action="{!getContactinfo}" oncomplete="editUserTab();" reRender="form">
                                                <span class="glyphicon glyphicon-pencil user-edit-link"/> 
                                                <apex:param assignTo="{!ContactId}" value="{!c.id}" name="ContactId"/>
                                                
                                            </apex:commandLink>
                                        </apex:outputPanel>
                                        </td>
                                    </tr>
                                    </apex:repeat>
                                    </tbody>
                                 </table>
                                 </div>
                                 </apex:outputPanel>
                                 <!-- // User Table -->
                             </div>
                            </div>
                          
                            <div class="col-md-8 col-sm-9 col-xs-12 userAddBlock" style="padding-top: 20px; display: none;">
                         <apex:outputPanel id="userBlock">
                                    <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="largeLabelText noPad">First Name <sup><span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:red;font-size:8px;"/></sup><apex:outputLabel id="AFNameValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                <!-- <div class="col-md-3 col-sm-3 col-xs-3 formLabels">Name:</div> -->
                                <div><apex:inputText styleclass="form-control first-field" value="{!userFirstName}" id="AFirstName" onchange="flagDisableBeforeUnload = false;"/></div>
                                 
                            </div>
                            
                            <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="largeLabelText noPad">Last Name <sup><span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:red;font-size:8px;"/></sup><apex:outputLabel id="ALNameValidation" value="" style="margin-left:2%;font-size:12px;"/>  </div>
                                <!--<div><apex:inputfield styleclass="form-control" value="{!fetchUserinfo.LastName}" label="Last Name" id="LastName"/></div> -->
                                <div><apex:inputText styleclass="form-control" value="{!userLastName}" id="ALastName" onchange="flagDisableBeforeUnload = false;"/></div> 
                            
                            </div>
                            
                            <!-- <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                <div class="largeLabelText noPad">Last Name</div>
                                <div><apex:inputfield styleclass="form-control" value="{!fetchUserinfo.LastName}" label="Last Name" id="LastName" oncomplete="flagDisableBeforeUnload = false;"/></div>
                            </div> -->
                            
                            <!-- <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                <div class="largeLabelText noPad">Last Name</div>
                                <div><apex:inputfield styleclass="form-control" value="{!fetchUserinfo.LastName}"/></div>
                            </div> -->
                            
                            <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                <div class="largeLabelText noPad">Email <sup><span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:red;font-size:8px;"/></sup><apex:outputLabel id="Emalvalidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                <div><apex:inputText styleclass="form-control" value="{!userEmail}"  id="Email" onchange="flagDisableBeforeUnload = false;"/></div>
                                  
                            </div>
                            
                            <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                <div class="largeLabelText noPad">Phone Number <sup><span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:red;font-size:8px;"/></sup><apex:outputLabel id="PhnValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                <div><apex:inputText styleclass="form-control" value="{!userPhone}" id="PhoneNumber" onchange="flagDisableBeforeUnload = false;"/></div>
                                 
                            </div>
                            
                            <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                <div class="largeLabelText noPad">Role</div>
                                <div>
                                    <apex:selectList styleClass="form-control form-custom-input" value="{!selectedRole}" size="1">
                                    <apex:selectOptions value="{!DistRole}"/>
                                    </apex:selectList>
                              <!--      <apex:inputField styleClass="form-control form-custom-input" value="{!fetchUserinfo.Role__c}"/>  -->
                                </div>
                            </div>
                                  </apex:outputPanel>
                                    <!--
                                    <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                        <div class="largeLabelText noPad">Address</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!fetchUserinfo.MailingStreet}" label="Address" id="Addr"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                        <div class="largeLabelText noPad">City</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!fetchUserinfo.MailingCity}" label="City" id="City"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                        <div class="largeLabelText noPad">State</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!fetchUserinfo.MailingState}" label="State" id="State"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                        <div class="largeLabelText noPad">Country</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!fetchUserinfo.MailingCountry}" label="Country" id="Country"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-9 col-xs-9 row marginTop-10">
                                        <div class="largeLabelText noPad">Time Zone</div>
                                        
                                        <div>
                                            <apex:selectList styleClass="form-control" value="{!fetchUserinfo.Time_Zone__c}" size="1">
                                            <apex:selectOptions value="{!TimeZone}"/>
                                            </apex:selectList>
                                        </div>
                                        
                                    </div> --> 
                                    
                                   
                                        <div class="col-md-12 col-sm-12 col-xs-12 marginTop-10 text-center">
                                          <!--  <button type="button" class="btn btn-default" style="width: 100px;">Save</button> 
                                          <apex:commandButton value="Save"  style="margin-right:2%;" styleClass="primary" reRender="users" oncomplete="showUserTab();"/> -->
                                          <apex:commandButton value="Cancel"  immediate="true" styleClass="action-link" reRender="users" action="{!canceladdUser}"/>                                     
                                          <apex:commandButton value="Save" styleClass="btn-custom"  onclick="flagDisableBeforeUnload = true;return userValidation();" rerender="error"/>
                                       
                                          <apex:actionFunction name="addUsers" action="{!addUsers}" oncomplete="showUserTab();" reRender="userBlock" />
                                          
                                         <!-- <apex:commandButton value="Cancel" action="{!canceladdUser}" style="margin-right:2%;" immediate="true"  styleClass="primary"/>  -->
                                              
                                          <!--  <button type="button" class="btn" style="width: 100px; background: #EFEFEF !important;">Cancel</button> -->
                                        </div>
                                   
                                    <br/><br/>
                                </div>
                                  
                            <div class="col-md-8 col-sm-9 col-xs-12 userEditBlock" style="padding-top: 20px; display: none;">
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12" id="editUsers">
                                    <div class="largeLabelText noPad">First Name  <apex:outputLabel id="AEFNameValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                        <div><apex:inputField styleclass="form-control first-field" value="{!co.FirstName}" id="AEFirstName"  html-autofocus="true" /></div>
                                       
                                    </div>
                                    
                                   <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Last Name <apex:outputLabel id="AELNameValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                       <!-- <div><apex:inputfield styleclass="form-control" value="{!co.LastName}"/></div> -->
                                        <div><apex:inputText styleclass="form-control" value="{!co.LastName}" id="AELastName"/></div>
                                           
                                    </div>  
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Email <apex:outputLabel id="EEmalvalidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                        <div><apex:inputfield styleclass="form-control" value="{!co.Email}" id="EEmail"/></div>
                                        
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Phone Number <apex:outputLabel id="EPhnValidation" value="" style="margin-left:2%;font-size:12px;"/></div>
                                        <div><apex:inputfield styleclass="form-control" value="{!co.Phone}" id="EPhoneNumber"/></div>
                                        
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Role</div>
                                        <div>
                                          <!--  <apex:inputField styleClass="form-control form-custom-input" value="{!fetchUserinfo.Role__c}"/>  --> 

                                        <apex:selectList styleClass="form-control form-custom-input" value="{!co.Role__c}" size="1">
                                            <apex:selectOptions value="{!distRole}"/>
                                            </apex:selectList> 
                                            
                                        </div>
                                    </div>
                                                           <!--     <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Address</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!co.MailingStreet}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">City</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!co.MailingCity}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">State</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!co.MailingState}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Country</div>
                                        <div>
                                            <apex:inputfield styleclass="form-control" value="{!co.MailingCountry}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9 col-sm-12 col-xs-12 marginTop-10">
                                        <div class="largeLabelText noPad">Time Zone</div>
                                        
                                        <div>
                                            <apex:selectList styleClass="form-control" value="{!co.Time_Zone__c}" size="1">
                                            <apex:selectOptions value="{!TimeZone}"/>
                                            </apex:selectList>
                                        </div>
                                        
                                    </div> -->
                                    
                                   
                                        <div class="col-md-12 col-sm-12 col-xs-12 marginTop-10 text-center">
                                          <!--  <button type="button" class="btn btn-default" style="width: 100px;">Save</button>-->
                                          <apex:actionFunction name="ShowError" reRender="error"/>
                                           <apex:commandButton value="Cancel"  immediate="true" styleClass="action-link" reRender="users" action="{!canceladdUser}"/>
                                           <apex:commandButton value="Save" styleClass="btn-custom"  reRender="users"  onclick="return userValidation1();"  />

                                           <apex:actionFunction name="updateuser" action="{!updateUser}"  reRender="userBlock" /> 

                                           
                                       <!--  <apex:commandButton value="Cancel" action="{!canceladdUser}" style="margin-right:2%;" immediate="true" styleClass="primary" /> -->
                                          <!--  <button type="button" class="btn" style="width: 100px; background: #EFEFEF !important;">Cancel</button> -->
                                        </div>
                                    
                                  <br/><br/>  
                         </div>
                        </div>
                    </div>
                    <!-- /#users -->
                </div>
                <!-- /.Widget-content -->
                </div>
                <!-- /.Widget Box -->
            </div>
            </div>
            <!-- /.col-md-9 After conetbntMar -->
            
            <!-- Add User Button -->
            <div class="col-md-3 col-sm-12 col-xs-12 addUserButton" style="padding-top: 20px;">
            <apex:outputPanel >
                <div style="border:1px solid #eee;padding:10px;">
                    <div class="contentTitle"><strong>Actions</strong></div>
                    <div class="">
                        <button class="secondary add-user-information" style="width:65%;border-radius: 0px;" type="button">Add Employee</button>
                    </div>                         
                </div>
            </apex:outputPanel>
            </div>
            <!-- Add User Button -->
        </div>
        </div>
    </body>

    </html>
    </apex:form>         
</apex:page>