<!--------------
Name         : LCBSEditUser
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : Honeywell-LCBS 
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page controller="LCBSManageUsersController" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
 <apex:form >
    <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
       
        
<script type="text/javascript">
        j$ = jQuery.noConflict();
            j$(document).ready( function () {
               j$('.dropdown-toggle').dropdown();   
                
                 
            });    
        
            
           
            
</script>
       <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
        <html>
        <style>
            .h1 {
                background-color: #595959;
                border-color: #595959;
                color: #fff;
                font-size: 1.4em;
                padding: 2px;
                margin-top: -2px;
                text-align: center;
            }
            
            .button {
                border-radius: 2px;
                color: #fff;
                background-color: #3b87de;
                border-color: #3b87de;
            }
            
            .controls {
                font-size: 120%;
                font-weight: bold;
            }
        </style>

        </html>

        <body>
         
   <c:LCBSCommunityHeader />
   <!--  <c:CommunityHeader /> -->

            <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
                <h1>Edit User</h1>
            </div> <br/>
            <apex:pageMessages /> <br/>
            <div class="container">
                <div class="row">
                    <form>
                        <div class="col-md-8">

                            <div class="form-group">
                               <label>First Name</label>  <br/>
                               <apex:inputField value="{!contactEdit.FirstName}" styleClass="form-control" required="false"/> 
                            </div>
                            <div class="form-group">
                               <label>Last Name</label>  <br/>
                               <apex:inputField value="{!contactEdit.LastName}" styleClass="form-control" required="true"/> 
                            </div>
                         <!--   <div class="form-group">
                               <label>Role</label>  <br/>
                               <apex:selectList id="Role" styleClass="form-control" value="{!userEdit.UserRoleId}" required="true" size="1">  
                               <apex:selectOptions value="{!RoleOptions}"/>  
                               </apex:selectList> 
                            </div> 
                            <div class="form-group">
                               <label>Company Location</label>  <br/>
                      
                               <apex:selectList id="CompanyLoc" styleClass="form-control" required="true" value="{!contactEdit.CompanyName}" size="1">  
                               <apex:selectOptions value="{!CompanyLocOptions}"/>  
                               </apex:selectList> 
                            </div> -->
                           
                            <div class="form-group">
                                <label>Phone Number</label>  <br/>
                               <apex:inputField value="{!contactEdit.Phone}" styleClass="form-control" required="true"/>  
                            </div>
                            <div class="form-group">
                                <label>Email / username</label>
                                <apex:inputField value="{!contactEdit.Email}" styleClass="form-control" required="true"/>  
                            </div>
                            <!--<div class="form-group">
                                <label>TimeZone</label>
                                <apex:inputField value="{!userEdit.TimeZoneSidKey}" styleClass="form-control" required="true" style="padding-top:3px;"/> 
                            </div> -->
                            <div class="col-md-9">
                                <apex:commandbutton value="Save Changes" action="{!updateUser}" StyleClass="btn btn-primary" style="background:#3784DE;width:25%;height:30px;text-align:center;color:white;"/>
                                <apex:commandbutton value="Cancel" immediate="true" action="{!cancelUser}" Styleclass="btn btn-default" style="background:#F0FFFF;width:20%;height:30px;text-align:center;"/>
                            </div>
                            <div class="col-md-3">
                                <apex:commandbutton value="Deactivate User" action="{!DeactivateUser}" Styleclass="btn btn-danger" style="background:#FF4500;width:80%;height:30px;text-align:center;color:white;"/>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js"></script>



        </body>
    </apex:form>
  
</apex:page>