<!--------------
Name         : LCBS_BuildingInformation_Edit
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page controller="LCBS_BuildingInformation_Edit_Controller" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
<apex:form >
<html>
    <apex:pageMessages />
    <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
    <script>
        j$ = jQuery.noConflict();
        var flagDisableBeforeUnload = true;
        j$(window).on('beforeunload', function(){
           if (!flagDisableBeforeUnload){
              return 'Leaving this page will lose your changes. Are you sure?';
           }else{
              //reset
              tempDisableBeforeUnload = false;
              return;
           }
        });
        function ShowAlert(){
            //alert('wwerwe');
        }
    </script>    
    <script>
      j$(document).ready( function () {
          j$('.dropdown-toggle').dropdown();
      });
      j$('select').addClass('form-control form-custom-input');
    </script> 
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <link rel="icon" href="../../favicon.ico"/>
      
      <title>
        Honeywell LCBS Contractor Portal
      </title>
      
      
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]>
      <script src="js/ie8-responsive-file-warning.js"></script>
      <![endif]-->
      <script src="js/ie-emulation-modes-warning.js"></script>
    
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
 

        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/bootstrap.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/bootstrap.min.js')}"/>

        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/npm.js')}"/>

      
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]>
      <script src="js/ie8-responsive-file-warning.js"></script>
      <![endif]-->
      <script src="js/ie-emulation-modes-warning.js"></script>
      
      <style>
      /*.select-state select{
                display: block;
                width: 83%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555555;
                background-color: #ffffff;
                background-image: none;
                border: 1px solid #cccccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;                
            }
        table, th, td {
          border-collapse: collapse;
          
        }
        th, td {
          padding: 5px ;
          
        }
        td
        {
          margin-right:30px;
          
        }
        ol.breadcrumb{
            padding:0px;
        }
        
        .btn-default:active, .btn-default.active{
            background-color: #00ADFF;
            color: #fff;
        }
        
        .form-custom-input{
              font-family: HelveticaRegular !important;
              font-size: 0.875rem !important;
              color: #404040 !important;
        }
        */
        
        /* Styles TODO-duplicate code (was there in more_info_page ) */
        #main-body{margin-bottom:20px;}
        .cmn-row{
            width: 100%;
        }
        .col-md-4{
            width: 33.33333333%;
            padding: 0 15px;
            float: left;
        }
        .col-md-4.right{
            text-align:right;
        }
        .col-md-4.nopadding{padding:0;}
        .col-md-4.center{
            text-align:center;
        }
        .margin-top-12{
            margin-top: 12px;
        }
        .margin-top-20{
            margin-top: 20px !important;
        }
        .margin-top-25{
            margin-top: 25px;
        }
        .no-padding-left{
            padding-right: 20px;
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .li-margin-bottom-20 > li{
            margin-bottom: 20px;
        }
        .underline{
            margin-right: 50px;
            margin-top:5px;
            border-bottom: 1px solid #e1e1e1;
        }
        /* .tab-dropdown .dropdown{display:none;} */
        @media (max-width: 1024px){          
            .cmn-row .col-md-4{width: 100%;}
            .cmn-row .col-md-4.center{text-align:left;}
            .cmn-row .col-md-4.right > span.bodyText{float: left;}
            .cmn-row .col-md-4.right{text-align:center;}
            .cmn-row .col-md-4.nopadding{padding: 0 10rem;border-bottom: 1rem solid #eee;margin-top: 5rem;}
            .cmn-row .underline{margin-right: 0;}
            .text-center-xs{text-align:center;}
        }
        
        /* New Styles */
        .cmn-row select, .cmn-row input[type="text"]{
            width: 100%;
        }
        .requiredBlock select{
            width:100%;
        }
        
        .cancel-btn{
            outline: none;
            border: none;
            padding: 0;
            background: transparent;
            cursor: pointer;
            color: #1792e5;
        }
        .save-btn{
            margin-left: 17px;
            outline: none;
            border: none;
            cursor: pointer;
            display: inline;
        }
        .margin-bottom-20{
            margin-bottom: 20px;
        }
        
        .smallLabelText{
            margin-bottom:2px;
        }
        /* TODO */
        #ng-view-wrapper, #ng-view, #main-body, #main-content, .tab-content{
            -ms-flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    </style>
      <script>
       function clearErrors()
       {
             
               document.getElementById("dispError").style.display= "none";
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
          
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
         
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","");
              jQuery('[id$=phone]').text("");
              jQuery('[id$=postal]').css("color","");
              jQuery('[id$=postal]').text("");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=Bldname]').css("borderColor", "");
              jQuery('[id$=Bldname]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Bldname]').css("backgroundColor","");
              jQuery('[id$=Addr]').css("borderColor", "");
              jQuery('[id$=Addr]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=Country]').css("borderColor", "");
              jQuery('[id$=Country]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Country]').css("backgroundColor","");
              jQuery('[id$=postalCode]').css("borderColor", "");
              jQuery('[id$=postalCode]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=City]').css("borderColor", "");
              jQuery('[id$=City]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=City]').css("backgroundColor","");
              jQuery('[id$=Timezone]').css("borderColor", "");
              jQuery('[id$=Timezone]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Timezone]').css("backgroundColor","");
              jQuery('[id$=FirstName]').css("borderColor", "");
              jQuery('[id$=FirstName]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=LastName]').css("borderColor", "");
              jQuery('[id$=LastName]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=LastName]').css("backgroundColor","");
              jQuery('[id$=Title]').css("borderColor", "");
              jQuery('[id$=Title]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=Title]').css("backgroundColor","");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");   
              jQuery('[id$=phoneNumber]').css("borderColor", "");
              jQuery('[id$=phoneNumber]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=PrimaryDisLookupPicklist]').css("borderColor", "");
              jQuery('[id$=PrimaryDisLookupPicklist]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=PrimaryDisLookupPicklist]').css("backgroundColor","");
              jQuery('[id$=SeconDisLookupPicklist]').css("borderColor", "");
              jQuery('[id$=SeconDisLookupPicklist]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=SeconDisLookupPicklist]').css("backgroundColor","");
              jQuery('[id$=PrimaryTechLookupPicklist]').css("borderColor", "");
              jQuery('[id$=PrimaryTechLookupPicklist]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=PrimaryTechLookupPicklist]').css("backgroundColor","");
              jQuery('[id$=SeconTechLookupPicklist]').css("borderColor", "");
              jQuery('[id$=SeconTechLookupPicklist]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=SeconTechLookupPicklist]').css("backgroundColor","");
              jQuery('[id$=DeputyLookupPicklist]').css("borderColor", "");
              jQuery('[id$=DeputyLookupPicklist]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=DeputyLookupPicklist]').css("backgroundColor","");
              jQuery('[id$=postal]').text("");
              jQuery('[id$=emailvalidation]').css("color","");
              jQuery('[id$=emailvalidation]').text("");
              jQuery('[id$=email]').css("borderColor", "");
              jQuery('[id$=email]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=NameValidation]').css("color","");
              jQuery('[id$=NameValidation]').text("");
              jQuery('[id$=AddrValidation]').css("color","");
              jQuery('[id$=AddrValidation]').text("");
              jQuery('[id$=CountryValidation]').css("color","");
              jQuery('[id$=CountryValidation]').text("");
              jQuery('[id$=CityValidation]').css("color","");
              jQuery('[id$=CityValidation]').text("");
              jQuery('[id$=TimezoneVal]').css("color","");
              jQuery('[id$=TimezoneVal]').text("");
              jQuery('[id$=FNValid]').css("color","");
              jQuery('[id$=FNValid]').text("");
              jQuery('[id$=LNValid]').css("color","");
              jQuery('[id$=LNValid]').text("");
              jQuery('[id$=TitleValidation]').css("color","");
              jQuery('[id$=TitleValidation]').text("");
              jQuery('[id$=serviceLevel]').css("borderColor", "");
              jQuery('[id$=serviceLevel]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=serviceLevel]').css("backgroundColor","");
              jQuery('[id$=serviceLevelValidation]').css("color","");
              jQuery('[id$=serviceLevelValidation]').text("");
              jQuery('[id$=state]').css("borderColor", "");
              jQuery('[id$=state]').css("borderStyle", "").css("borderWidth", "");
              jQuery('[id$=state]').css("backgroundColor","");
              jQuery('[id$=stateValidation]').css("color","");
              jQuery('[id$=stateValidation]').text("");      
        
       }
       
       
      function buildingValidation()
       {
         
          clearErrors();
          
          var ErrorMsg = '';

          var ErrorMsg1 = '';
          var ErrorMsg2 = '';
          var ErrorMsg3 = '';
          var ErrorMsg4 = '';
          var a = jQuery('[id$=phoneNumber]').val();
          var phoneNum = a.replace(/[^\d]/g, '');
          var zipCode = jQuery('[id$=postalCode]').val();
          zipCode = zipCode.toString().trim();
          var email = jQuery('[id$=email]').val();
          email = email.toString().trim();
          var us = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
          var ca = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
          var re = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
          
          if(jQuery('[id$=Bldname]').val()=='')
          {
              jQuery('[id$=Bldname]').css("borderColor", "#E65048");
              jQuery('[id$=Bldname]').css("borderStyle", "solid");
              jQuery('[id$=Bldname]').css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Bldname]').css("backgroundColor","");
              jQuery('[id$=NameValidation]').css("color","#E65048");
              jQuery('[id$=NameValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Building Name, ';
          }
          
          if(jQuery('[id$=Addr]').val()=='')
          {
              jQuery('[id$=Addr]').css("borderColor", "#E65048");
              jQuery('[id$=Addr]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Addr]').css("backgroundColor","");
              jQuery('[id$=AddrValidation]').css("color","#E65048");
              jQuery('[id$=AddrValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Building Address, ';
          }    
          if(jQuery('[id$=Country]').val()=='Select Country') 
          {
              jQuery('[id$=Country]').css("borderColor", "#E65048");
              jQuery('[id$=Country]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Country]').css("backgroundColor","");
              jQuery('[id$=CountryValidation]').css("color","#E65048");
              jQuery('[id$=CountryValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'Country, ';
          } 
       
            if(jQuery('[id$=state]').val()=='')
          {
         
              jQuery('[id$=state]').css("borderColor", "#E65048");
              jQuery('[id$=state]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=state]').css("backgroundColor","");
              jQuery('[id$=stateValidation]').css("color","#E65048");
              jQuery('[id$=stateValidation]').text("Required");
              if(ErrorMsg == '')
              {
               ErrorMsg ='Please enter ';
              }
              ErrorMsg =ErrorMsg + 'State, ';
          }   
          
          if(jQuery('[id$=postalCode]').val()=='')
          {
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              jQuery('[id$=postal]').css("color","#E65048");
              jQuery('[id$=postal]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
                ErrorMsg =ErrorMsg + 'Postal code, ';
          }
          
          if(jQuery('[id$=City]').val()=='')
          {
              jQuery('[id$=City]').css("borderColor", "#E65048");
              jQuery('[id$=City]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=City]').css("backgroundColor","");
              jQuery('[id$=CityValidation]').css("color","#E65048");
              jQuery('[id$=CityValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'City, ';
              
          }
           if(jQuery('[id$=Timezone]').val()=='Select Time Zone')
          {
              jQuery('[id$=Timezone]').css("borderColor", "#E65048");
              jQuery('[id$=Timezone]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Timezone]').css("backgroundColor","");
              jQuery('[id$=TimezoneVal]').css("color","#E65048");
              jQuery('[id$=TimezoneVal]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Time Zone, ';
              
          }
         
          if(jQuery('[id$=FirstName]').val()=='') 
          {
              jQuery('[id$=FirstName]').css("borderColor", "#E65048");
              jQuery('[id$=FirstName]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=FirstName]').css("backgroundColor","");
              jQuery('[id$=FNValid]').css("color","#E65048");
              jQuery('[id$=FNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'First Name, ';
          }
         
          
          if(jQuery('[id$=LastName]').val()=='') 
          {
              jQuery('[id$=LastName]').css("borderColor", "#E65048");
              jQuery('[id$=LastName]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=LastName]').css("backgroundColor","");
              jQuery('[id$=LNValid]').css("color","#E65048");
              jQuery('[id$=LNValid]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Last Name, ';
          }
         
        /*  if(jQuery('[id$=Title]').val()=='') 
          {
              jQuery('[id$=Title]').css("borderColor", "#E65048");
              jQuery('[id$=Title]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=Title]').css("backgroundColor","");
              jQuery('[id$=TitleValidation]').css("color","#E65048");
              jQuery('[id$=TitleValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Title, ';
              
          }*/
          
          
          if(jQuery('[id$=serviceLevel]').val()=='Select Service Level')
          {
              jQuery('[id$=serviceLevel]').css("borderColor", "#E65048");
              jQuery('[id$=serviceLevel]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=serviceLevel]').css("backgroundColor","");
              jQuery('[id$=serviceLevelValidation]').css("color","#E65048");
              jQuery('[id$=serviceLevelValidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Service Level, ';
          }
          
        /*  if(jQuery('[id$=email]').val()=='')
          {
              jQuery('[id$=email]').css("borderColor", "#E65048");
              jQuery('[id$=email]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=email]').css("backgroundColor","");
              jQuery('[id$=emailvalidation]').css("color","#E65048");
              jQuery('[id$=emailvalidation]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }     
              ErrorMsg =ErrorMsg + 'Email, ';
          }*/
          
          if(jQuery('[id$=phoneNumber]').val()=='') 
          {
              jQuery('[id$=phoneNumber]').css("borderColor", "#E65048");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
              jQuery('[id$=phone]').css("color","#E65048");
              jQuery('[id$=phone]').text("Required");
              if(ErrorMsg == '')
                  {
                   ErrorMsg ='Please enter ';
                  }
              ErrorMsg =ErrorMsg + 'Phone Number, ';
              
          }
      
         
          if((jQuery('[id$=phoneNumber]').val() !='')&&(phoneNum.length < 6 || phoneNum.length > 11))
          {
              jQuery('[id$=phone]').css("color","#E65048");
              jQuery('[id$=phone]').text("Not a valid phone number");
              jQuery('[id$=phoneNumber]').css("borderColor", "#E65048");
              jQuery('[id$=phoneNumber]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=phoneNumber]').css("backgroundColor","");
               ErrorMsg2 = 'Please enter a Valid Phone Number';
                  

          }
          if((jQuery('[id$=country]').val()=='United States')&&( jQuery('[id$=postalCode]').val()!= '')&&((!us.test(zipCode.toString()))))
          {
              jQuery('[id$=postal]').css("color","#E65048");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              ErrorMsg4 = 'Please enter a Valid Postal Code';
                  

          }
          if(jQuery('[id$=Addr1]').val()=='')
                  {
                      jQuery('[id$=Addr1]').css("borderColor", "#E65048");
                      jQuery('[id$=Addr1]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
                      jQuery('[id$=Addr1]').css("backgroundColor","");
                      jQuery('[id$=AddrValidation1]').css("color","#E65048");
                      jQuery('[id$=AddrValidation1]').text("Required");
                      if(ErrorMsg == '')
                      {
                       ErrorMsg ='Please enter ';
                      }
                      ErrorMsg =ErrorMsg + 'Building Address, ';
                  }      
          
          if((jQuery('[id$=country]').val()=='Canada')&&( jQuery('[id$=postalCode]').val()!= '')&&((!ca.test(zipCode.toString()))))
          {
          
              jQuery('[id$=postal]').css("color","#E65048");
              jQuery('[id$=postal]').text("Not a valid Postal/ZIP Code");
              jQuery('[id$=postalCode]').css("borderColor", "#E65048");
              jQuery('[id$=postalCode]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
              jQuery('[id$=postalCode]').css("backgroundColor","");
              ErrorMsg3 ='Please enter a Valid Postal Code';
                  

          }
          if (!re.test(jQuery('[id$=email]').val())&&( jQuery('[id$=email]').val() != ''))
          {
           jQuery('[id$=emailvalidation]').css("color","#E65048");
           jQuery('[id$=emailvalidation]').text("Not a valid email address");
           jQuery('[id$=email]').css("borderColor", "#E65048");
           jQuery('[id$=email]').css("borderStyle", "solid").css("borderWidth", "1px").css("borderBottomWidth", "2px");
           jQuery('[id$=email]').css("backgroundColor","");
           ErrorMsg1 = 'Please enter a Valid Email';
                  

          }
         ErrorMsg = ErrorMsg+".";
          
          ErrorMsg = ErrorMsg.replace(", .",".");
            

          
          ErrorMsg = ErrorMsg.trim();       
            
           
          if(ErrorMsg == '.' && ErrorMsg1 =='' && ErrorMsg2 =='' && ErrorMsg3 =='' && ErrorMsg4 =='')
          {




           $('#dispError').attr('disabled', true);
           document.getElementById("dispError").style.display= "none";
           saveBuilding();
          }
          
          if(ErrorMsg != '.' || ErrorMsg1 != '' || ErrorMsg2 != '' || ErrorMsg3 != ''|| ErrorMsg4 != '')
          {



             $('#dispError').attr('disabled', false);
             document.getElementById("dispError").style.display= "block";
             return false;    
          }
       
         

       }
       
       </script>
    </head>
    <body class="ng-scope">
        
        <c:LCBS_Mobile_Nav />
                
        
        <div class="background clearfix" id="body-inner">
            <div class="container ng-scope" ng-controller="AlertController as vm">            
            </div>
            
            <c:LCBSDistributorHeader_New_Latest />                      
            
            <div id="ng-view-wrapper">
               <!-- Error Messages -->
               <div id="dispError">
                   <div class="clearfix">
                       <apex:image url="{!URLFOR($Resource.LCBS_Error_latest, 'error/error.png')}" style="margin-left:2%;"/>
                       <apex:outputLabel escape="true"  id="error" value="Please correct the errors below." />
                       <!--<apex:outputLabel escape="true"  id="error" value="Please correct the errors below." style="border:2px;color:red;font-size:15px;height:20%;width:100%;padding-top:-25%;padding-bottom:8%;margin-left:8%;margin-right:2%;"/> -->
                   </div>
                   <!-- <table>
                       <tr>
                           <td> --><!-- LCBS_Error_latest URLFOR($Resource.LCBS_Error, 'error/error.jpg') old icon -->
                           <!-- <apex:image url="{!URLFOR($Resource.LCBS_Error_latest, 'error/error.png')}" height="30px" width="30px" style="margin-left:2%;"/> </td>
                            <td></td>
                       </tr>
                   </table> -->
               </div>
               <!-- Error Messages -->
               <!-- <ol class="breadcrumb"> -->
               <div id="ng-view" class="ng-scope">
                   <div id="main-tab" class="ng-scope">
                        <header class="clearfix">
                            <h1 class="ng-binding">{!fetchinfo.Name}</h1>
                        </header>
                        <apex:actionFunction name="alert" action="{!alertsPage}"/>
                        <apex:actionFunction name="controls" action="{!controlsPage}"/>
                        <div class="marginBuildingTab">
                            <building-nav-bar model="navSelected" options="navOptions">
                                <nav class="btn-group tabs clearfix">
                                    <a href="javascript:void(0);" onclick="alert();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Alerts</a>
                                    <a href="javascript:void(0);" onclick="controls();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Controls</a>
                                    <!--<a href="javascript:void(0);" onclick="equipment();" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope">Equipments</a>  -->                              
                                    <a href="javascript:void(0);" ng-repeat="option in navOptions" ng-class="{active: isActive(option)}" ng-click="activate(option)" class="btn btn-default ng-binding ng-scope active">Information</a>                                                                
                                </nav>
                                <!-- TODO -->
                                <div class="tab-dropdown">
                                    <div class="dropdown">
                                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Information</a>
                                        <ul class="dropdown-menu">
                                           <!-- <li><a class="headerText" href="#">Equipment</a></li> -->
                                            <li><a class="headerText" href="#">Alerts</a></li>
                                           <!-- <li><a class="headerText" href="#">Equipment</a></li> -->
                                            <li><a class="headerText" href="#">Information</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </building-nav-bar>
                         </div>
                         <!-- /. marginBuildingTab -->                        
                   </div>
                   <!-- /# main-tab -->
                   
                   <!-- Tab Content -->
                    <div class="tab-content ng-scope" ui-view="content">
                        <div class="ng-scope margin-top-20" id="main-body">
                            <div class="cmn-row clearfix">
                                
                                <!-- <h1>EDIT BUILDING INFORMATION</h1> -->
                            
                                <!-- BUILDING -->
                                <div class="col-md-4 no-padding-left">
                                    <div><p class="titleCaseNavigation">Building</p><div class="underline"></div></div>
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">Service Level <span class="bodyText required">&#9913;</span>  <apex:outputLabel id="serviceLevelValidation" value="" styleClass="bodyText required" /> </div>
                                        <div><apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.Service_Level__c}" label="serviceLevel" id="serviceLevel" onchange="flagDisableBeforeUnload=false;" required="true"/></div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">Building Name <span class="bodyText required">&#9913;</span> <apex:outputLabel id="NameValidation" value=" " styleClass="bodyText required" /> </div>
                                        <div><apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.Name}" label="Name"  id="Bldname" onchange="flagDisableBeforeUnload=false;"/> </div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">STREET NAME LINE 1 <span class="bodyText required">&#9913;</span> <apex:outputLabel id="AddrValidation" value="" styleClass="bodyText required"/> </div>
                                        <div>
                                            <apex:inputField Styleclass="formField form-custom-input"  value="{!fetchinfo.Address__c}" id="Addr" />                                           
                                        </div>
                                    </div>
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">STREET NAME LINE 2 <span class="bodyText required">&#9913;</span> <apex:outputLabel id="AddrValidation1" value="" styleClass="bodyText required"/> </div>
                                        <div><apex:inputField Styleclass="formField form-custom-input"  value="{!fetchinfo.Address_1__c}" id="Addr1"/></div>
                                    </div>
                                  <!--  <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">Street Address 3</div>
                                        <div><apex:inputField Styleclass="formField form-custom-input"  value="{!fetchinfo.Address_2__c}" /></div>
                                    </div> -->
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">Country <span class="bodyText required">&#9913;</span> <apex:outputLabel id="CountryValidation" value="" styleClass="bodyText required"/></div>
                                        <div><apex:inputField Styleclass="formField form-custom-input" value="{!fetchinfo.Country__c}" id="Country" onchange="flagDisableBeforeUnload = false;" required="true"/></div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">ZIP/POSTAL CODE <span class="bodyText required">&#9913;</span> <apex:outputLabel id="postal" value="" styleClass="bodyText required"/> </div>
                                        <div> <apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.Postal_Code__c}" id="postalCode" label="Postal Code" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">City <span class="bodyText required">&#9913;</span> <apex:outputLabel id="CityValidation" value="" styleClass="bodyText required"/> </div>
                                        <div> <apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.City__c}" label="City" id="City" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>
                                    
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">STATE <span class="bodyText required">&#9913;</span> <apex:outputLabel id="stateValidation" value="" styleClass="bodyText required"/></div>
                                        <div> <apex:inputField Styleclass="formField form-custom-input" value="{!fetchinfo.State__c}" id="state" onchange="flagDisableBeforeUnload = false;" /> </div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText noPad">Time Zone <span class="bodyText required">&#9913;</span> <apex:outputLabel id="TimezoneVal" value="" styleClass="bodyText required"/> </div>
                                        <div>
                                            <apex:selectList id="Timezone" value="{!fetchinfo.Time_Zone__c}" size="1" required="true" onchange="flagDisableBeforeUnload = false;" Styleclass="formField form-custom-input field-change-event" >
                                                <apex:selectOptions value="{!Timezones}"/> 
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- /. BUILDING -->
                                
                                <!-- CONTACT -->
                                <div class="col-md-4 no-padding-left">
                                    <div><p class="titleCaseNavigation">Contact</p><div class="underline"></div></div>
                                    
                                    <div class="clearfix margin-top-12">
                                        <div class="smallLabelText">First Name <span class="bodyText required">&#9913;</span> <apex:outputLabel id="FNValid" value="" styleClass="bodyText required"/> </div>
                                        <div><apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.First_Name__c}" label="First Name" id="FirstName" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>
                                    
                                    <div class="clarfix margin-top-12">
                                        <div class="smallLabelText">Last Name <span class="bodyText required">&#9913;</span> <apex:outputLabel id="LNValid" value="" styleClass="bodyText required"/> </div>
                                        <div>  <apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.Last_Name__c}" label="Last Name" id="LastName" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>
                                    
                                  <!--  <div class="clearfix margin-top-10">
                                      <div class="largeLabelText ">Title <span class="bodyText required">&#9913;</span> <apex:outputLabel id="TitleValidation" value="" styleClass="bodyText required"/></div>
                                      <div> <apex:inputField Styleclass="formField form-custom-input field-change-event" value="{!fetchinfo.Title__c}" label="Title" id="Title" onchange="flagDisableBeforeUnload = false;"/></div>  
                                    </div> -->
                                    
                                    <div class="clearfix margin-top-12">
                                       <div class="smallLabelText">EMAIL <apex:outputLabel id="emailvalidation" value="" styleClass="bodyText required"/> </div>
                                       <div><apex:inputField Styleclass="formField form-custom-input field-change-event" id="email" value="{!fetchinfo.Email_Address__c}" label="Email Address" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>
                                    
                                    <div class="clearfix margin-top-12">
                                         <div class="smallLabelText">Phone Number <span class="bodyText required">&#9913;</span> <apex:outputLabel id="phone" value="" styleClass="bodyText required"/> </div>
                                         <div> <apex:inputField Styleclass="formField form-custom-input field-change-event" id="phoneNumber" value="{!fetchinfo.Phone_Number__c}" label="Phone Number" onchange="flagDisableBeforeUnload = false;"/></div>
                                    </div>                   
                                </div>
                                <!-- /. CONTACT -->
                                
                                <!-- ASSIGNED USER -->
                                <div class="col-md-4 no-padding-left">
                                    <div><p class="titleCaseNavigation">Assigned Technicians</p><div class="underline"></div></div>
                                    <script>
                                        function resetUser1(){
                                            if(jQuery('[id$=PrimaryDisLookupPicklist]').val()=='Select user'){
                                                jQuery('[id$=user1]').hide();
                                            }
                                        }
                                    </script>
                                    <div class="clearfix margin-top-25">
                                        <apex:outputPanel id="Users1">
                                            <apex:selectList id="PrimaryDisLookupPicklist" style="float:left;display:inline-block;width:75%;margin-right:6px;" styleClass="formField form-custom-input" value="{!fetchinfo.Dispatcher__c}" size="1" label="Dispatcher" >
                                                <div> <apex:selectOptions value="{!PrimaryDispatcherOptions}"/> </div> 
                                                <apex:inputHidden id="firstUser" value="{!userId1.id}"/>
                                                <apex:actionSupport event="onchange" action="{!getUserId1}" reRender="Users1,Users2,Users3,Users4,Users5,firstUser" oncomplete="flagDisableBeforeUnload = false;"/>
                                             </apex:selectList>
                                         
                                             <apex:commandButton styleClass="clear-btn" id="user1" value="" rendered="{!!IF(fetchinfo.Dispatcher__c=='',true,false)}"  action="{!getUserId1}" oncomplete="resetUser1();" reRender="Users1,firstUser,DeputyLookupPicklist,SeconTechLookupPicklist,PrimaryTechLookupPicklist,SeconDisLookupPicklist,PrimaryDisLookupPicklist"/>
                                             <apex:actionFunction name="resetUser1" action="{!resetUser1}" reRender="Users1,Users2,Users3,Users4,Users5"/>
                                             <apex:outputLabel id="PrimaryValidation" value=""/>  
                                         </apex:outputPanel>
                                    </div>
                    
                                    <div class="clearfix margin-top-25">
                                         <apex:outputPanel id="Users2">
                                          <apex:selectList id="SeconDisLookupPicklist" style="float:left;display:inline-block;width:75%;margin-right:6px;" styleClass="formField form-custom-input" value="{!fetchinfo.Alternate_Dispatcher__c}" size="1" label="Alertnate Dispatcher">
                                            
                                         <div> <apex:selectOptions value="{!SeconDispatcherOptions}" /> </div>
                                             <apex:actionSupport event="onchange" action="{!getUserId2}" reRender="Users1,Users2,Users3,Users4,Users5,secondUser" oncomplete="flagDisableBeforeUnload = false;"/>
                                             <apex:inputHidden id="secondUser" value="{!userId2.id}"/>
                                          </apex:selectList>
                                          <apex:commandButton styleClass="clear-btn" id="user2" value="" rendered="{!!IF(fetchinfo.Alternate_Dispatcher__c=='',true,false)}" action="{!getUserId2}" oncomplete="resetUser2();" reRender="Users2,secondUser,DeputyLookupPicklist,SeconTechLookupPicklist,PrimaryTechLookupPicklist,SeconDisLookupPicklist,PrimaryDisLookupPicklist"/>
                                            <apex:actionFunction name="resetUser2" action="{!resetUser2}" reRender="Users1,Users2,Users3,Users4,Users5"/>
                                            <apex:outputLabel id="SeconDisLookupPicklistValidation" value=""/>  
                                         </apex:outputPanel>
                                     </div>
                                    
                                     <div class="clearfix margin-top-25">
                                         <apex:outputPanel id="Users3">
                                            <apex:selectList id="PrimaryTechLookupPicklist" style="float:left;display:inline-block;width:75%;margin-right:6px;" styleClass="formField form-custom-input" value="{!fetchinfo.Technician__c}" size="1" label="Technician">
                                            <div> <apex:selectOptions value="{!PrimaryTechOptions}"/> </div>
                                            <apex:actionSupport event="onchange" action="{!getUserId3}" reRender="Users1,Users2,Users3,Users4,Users5,thirdUser" oncomplete="flagDisableBeforeUnload = false;"/>
                                            <apex:inputHidden id="thirdUser" value="{!userId3.id}"/>
                                            </apex:selectList>
                                            <apex:commandButton id="user3" styleClass="clear-btn" value="" rendered="{!!IF(fetchinfo.Technician__c=='',true,false)}" action="{!getUserId3}" oncomplete="resetUser3();" reRender="Users3,thirdUser,DeputyLookupPicklist,SeconTechLookupPicklist,PrimaryTechLookupPicklist,SeconDisLookupPicklist,PrimaryDisLookupPicklist"/>
                                            <apex:actionFunction name="resetUser3" action="{!resetUser3}" reRender="Users1,Users2,Users3,Users4,Users5"/>
                                            <apex:outputLabel id="PrimaryTechLookupPicklistValidation" value=""/> 
                                            
                                         </apex:outputPanel>
                                     </div>
                                     
                                     <div class="clearfix margin-top-25">
                                          <apex:outputPanel id="Users4"> 
                                          <apex:selectList id="SeconTechLookupPicklist" style="float:left;display:inline-block;width:75%;margin-right:6px;" styleClass="formField form-custom-input" value="{!fetchinfo.Alternate_Technician__c}" size="1">
                                            
                                           <div> <apex:selectOptions value="{!SecondaryTechOptions}"/> </div>
                                             <apex:actionSupport event="onchange" action="{!getUserId4}" reRender="Users1,Users2,Users3,Users4,Users5,fourthUser" oncomplete="flagDisableBeforeUnload = false;"/>
                                              <apex:inputHidden id="fourthUser" value="{!userId4.id}"/>
                                          </apex:selectList>
                                          <apex:commandButton id="user4" styleClass="clear-btn" value="" rendered="{!!IF(fetchinfo.Alternate_Technician__c=='',true,false)}" action="{!getUserId4}" oncomplete="resetUser4();" reRender="Users4,fourthUser,DeputyLookupPicklist,SeconTechLookupPicklist,PrimaryTechLookupPicklist,SeconDisLookupPicklist,PrimaryDisLookupPicklist"/>
                                          <apex:actionFunction name="resetUser4" action="{!resetUser4}" reRender="Users1,Users2,Users3,Users4,Users5"/>
                                          <apex:outputLabel id="SeconTechLookupPicklistValidation" value=""/>
                                           </apex:outputPanel>
                                     </div>
                                     
                                     <div class="clearfix margin-top-25" >
                                        <apex:outputPanel id="Users5">  
                                        <apex:selectList id="DeputyLookupPicklist" style="float:left;display:inline-block;width:75%;margin-right:6px;" styleClass="formField form-custom-input" value="{!fetchinfo.User_5__c}" size="1">
                                            
                                        <div> <apex:selectOptions value="{!DeputyOptions}"/> </div>
                                             <apex:actionSupport event="onchange" action="{!getUserId5}" reRender="Users1,Users2,Users3,Users4,Users5,fifthUser" oncomplete="flagDisableBeforeUnload = false;"/>
                                             <apex:inputHidden id="fifthUser" value="{!userId5.id}"/>
                                          </apex:selectList> 
                                          <apex:commandButton id="user5" value="" styleClass="clear-btn" rendered="{!!IF(fetchinfo.User_5__c=='',true,false)}" action="{!getUserId5}" oncomplete="resetUser5();" reRender="Users5,fifthUser,DeputyLookupPicklist,SeconTechLookupPicklist,PrimaryTechLookupPicklist,SeconDisLookupPicklist,PrimaryDisLookupPicklist"/>
                                          <apex:actionFunction name="resetUser5" action="{!resetUser5}" reRender="Users1,Users2,Users3,Users4,Users5"/>
                                          <apex:outputLabel id="DeputyLookupPicklistValidation" value=""/>
                                          </apex:outputPanel>
                                     </div>
                                     
                                </div>
                                <!-- /.ASSIGNED USER -->
                            </div>
                            
                            
                         </div>
                         
                         <!-- Cancel And Save Button -->
                         <div class="clearfix col-md-12 marginTop-10 margin-bottom-20 cancel-save-block">
                            <apex:commandButton action="{!cancel}" value="Cancel" styleClass="linkText cancel-btn" style="margin-left: 2%;" />
                                &nbsp;
                            <apex:actionFunction name="saveBuilding" action="{!save}" reRender="error,error1,error2,error3"/>
                            <apex:commandButton value="Save" styleClass="primary-button save-btn" onclick="buildingValidation(); flagDisableBeforeUnload = true;" reRender="Users"/>
                         </div>
                         <!-- /. Cancel And Save Button -->
                        
                    </div>
                    <!-- /. Tab Content --> 
                   
               </div>
               <!-- /# ng-view -->
            </div>
            <!-- /# ng-view-wrapper -->
            
            
            
        </div>

        <c:LCBS_footer_new_latest />
    </body>
    <!-- /container -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
   </html>
  </apex:form>
 </apex:page>